<% @page_title = "Catering" %>
<% @page_description = "Planning an event, or hosting a dinner party? Let Villaggio help! Contact us about our catering services, and get ready to impress all your guests." %>

<div id="page-title" class="pt-bkg-image image-cater">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <section class="title-container">
                    <div class="title">
                        <h1>Villaggio Grille Catering Services</h1>
                        <!-- <h3><%= number_to_phone(2515976651, pattern: /(\d{3})(\d{3})(\d{4})$/,delimiter: "-", class: 'bigtel') %></h3> -->
                        <h3>251-597-6651</h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<div id="catering-menus" class="page-content">
    <section class="cater-menus">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <div class="col-md-12 fancy-heading center">
                        <h4><strong>Let Villaggio Grille help you celebrate!</strong></h4>
                    </div>
                    <div class="col-md-10 col-md-offset-1 col-xs-12">
                        <p class="xs-m"> We have everything you need to make your event a success. Villaggio Grille offers a number of different catering packages, a great staff, and an beautiful venue for hosting. </p>

                        <p class="xs-m">
                            If you're looking for more information on our catering services, enter your name and email address in the contact box, followed by a brief description (including the date) of your upcoming event, or any specific questions you have, and we will get back in touch with you soon!
                        </p>
                        <%= link_to '#menus', class: 'mobile-menu-link' do %> View Menus <% end %>

                    </div>
                </div>
                <div class="col-md-6 col-xs-12 formsec">
                    <%= form_for @catering, url: catering_path do |catering| %>
                        <fieldset>
                            <% if flash[:notice] %>
                                <div class="notice"><%= flash[:notice] %></div>
                            <% end %>

                            <% if flash[:alert] %>
                                <div class="notice"><%= flash[:alert] %></div>
                            <% end %>

                            <div class="form-group name">
                                <span class="required">*</span> Full Name: <br>
                                <%= catering.text_field :name %>

                            </div>

                            <div class="form-group phone">
                                <span class="required">*</span> Phone Number: <br>
                                <%= catering.text_field :phone %>
                            </div>

                            <div class="form-group email">
                                <span class="required">*</span> Email address: <br>
                                <%= catering.email_field :email %>

                            </div>

                            <div class="form-group message">
                                <span class="required">*</span> Message: <br>
                                <%= catering.text_area :content %>
                            </div>

                            <div class="form-group honey">
                                <%= label_tag :honey %>
                                <%= catering.text_field :honey %>
                                <span class="help">Do not fill in this field. It is an anti-spam measure.</span>
                            </div>

                            <div class="form-group submit">
                                <%= catering.submit "Submit", :class=> "send-message" %>
                            </div>
                        </fieldset>
                    <% end %>

                </div>
            </div>
        </div>
    </section>

    <section id="menus" class="cater-menus tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12 fancy-heading center">
                    <h3>
                        <strong>Catering Menus</strong>
                        <p>Our Menus are based on parties of 30-50. Specialty and Custom Menus are available.</p>
                    </h3>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div id="accordeon">
                    <div class="cbp-item">
                        <div class="cbp-caption first">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Buffet Menu #1</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-info">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <span>Menu Cost:</span> $1,400.00<br>
                                                <span>Per Person:</span> $28.00<br>
                                                <span>Includes:</span> Food, Tax, Labor/Gratuity<br>
                                                <span>Additional $3 Per Person:</span><br>
                                                Heavy Acrylic Wedding Dinner, Appetizer, Dessert Plates, Cups, Napkins, Mirrored Flatware, Straws and Beverage Napkins May be Added
                                            </div>
                                        </div>
                                    </div>

                                    <h3 class="menu-head">Menu</h3>
                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Caprese Tartlets...
                                                    <span>Tomato, Basil, Mozzarella, Balsamic Drizzle</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Beef and Bleu Wontons
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Shrimp &amp; Grit Martinis...
                                                    <span>Served in a Martini Glass</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Chicken and Vegetable Skewers... <span>Sriracha Aioli</span><br> <span>and/or</span><br> Beef and Vegetable Skewers... <span>Horseradish Cream</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Proscuitto Wrapped Grilled Asparagus
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Smoked Gouda, Pancetta, and Pea Mac n Cheese
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Sweetened Tea, Unsweetened Tea, Lemon Water
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption second">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Buffet Menu #2</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-info">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <span>Menu Cost:</span> $1,400.00<br>
                                                <span>Per Person:</span> $28.00<br>
                                                <span>Includes:</span> Food, Tax, Labor/Gratuity<br>

                                                <span>For an Additional $3 Per Person:</span><br>
                                                Heavy Acrylic Wedding Dinner, Appetizer, Dessert Plates, Cups, Napkins, Mirrored Flatware, Straws and Beverage Napkins May be Added
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="menu-head">Menu</h3>

                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Fruit Platter...
                                                    <span>Strawberries, Red Seedless Grapes, Green Seedless Grapes, Cantaloupe</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    BBQ Bacon Wrapped Shrimp
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Spinach &amp; Artichoke Tartlets
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Steamship Round Carving Station...
                                                    <span>Horseradish Cream, Dinner Rolls</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Truffle Mashed Potatoes
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Seasoned Green Bean Platter
                                                </li>

                                                 <li class="col-md-12 col-xs-12">
                                                      Sweetened Tea, Unsweetened Tea, Lemon Water
                                                 </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption third">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Buffet Menu #3</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-info">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <span>Menu Cost:</span> $1,400.00<br>
                                                <span>Per Person:</span> $28.00<br>
                                                <span>Includes:</span> Food, Tax, Labor/Gratuity<br>
                                                <span>For an Additional $3 Per Person:</span><br>
                                                Heavy Acrylic Wedding Dinner, Appetizer, Dessert Plates, Cups, Napkins, Mirrored Flatware, Straws and Beverage Napkins May be Added
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="menu-head">Menu</h3>

                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                   Truffle Deviled Eggs
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Mini Crab Cakes... <span>Housemade Tartar</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                Large Fried Shrimp... <span>Housemade Tartar &amp; Cocktail</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    4-5oz Chicken Scallopini.. <span>Fettucini</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Beef Sliders... <span>Arugula, Horseradish Cream</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Cheddar Grits <span></span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Roasted Vegetable Platter <span></span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Sweetened Tea, Unsweetened Tea, Lemon Water
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption fourth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Shrimp Boil Menu</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-info">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <span>Menu Cost:</span> $1,400.00<br>
                                                <span>Per Person:</span> $28.00<br>
                                                <span>Includes:</span> Food, Tax, Labor/Gratuity<br>

                                                <span>For an Additional $3 Per Person:</span><br>
                                                Heavy Acrylic Wedding Dinner, Appetizer, Dessert Plates, Cups, Napkins, Mirrored Flatware, Straws and Beverage Napkins May be Added
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="menu-head">Menu</h3>

                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Garden Salad... <span>Balsamic or Ranch</span>
                                                    <span>or</span>
                                                    Caesar Salad... <span>Caesar Dressing</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Shrimp Boil... <span>Large Gulf Shrimp, Zatarains Seasoning, Andouille Sausage, Corn, Onions, New Potatoes</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Sesame Slaw... <span>shredded cabbage, crispy strips, shredded carrots, green onions, mandarin oranges, tossed sesame vinaigrette </span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                Jalapeno Corn Bread Muffins <span>or</span> Sweet Corn Bread
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Sweetened Tea, Unsweetened Tea, Lemon Water
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption fifth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>BBQ Buffet Menu</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-info">
                                        <div class="row">
                                            <div class="col-md-12 col-xs-12">
                                                <span>Menu Cost:</span> $1,500.00<br>
                                                <span>Per Person:</span> $28.00<br>
                                                <span>Includes:</span> Food, Tax, Labor/Gratuity<br>

                                                <span>For an Additional $3 Per Person:</span><br>
                                                    Heavy Acrylic Wedding Dinner, Appetizer, Dessert Plates, Cups, Napkins, Mirrored Flatware, Straws and Beverage Napkins May be Added
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="menu-head">Menu</h3>

                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Fruit Tray... <span>Strawberries, Red Seedless Grapes, Green Seedless Grapes, Cantaloupe, Pineapple, Watermelon, Yogurt Dip (optional)</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Spinach &amp; Artichoke Dip... <span>Crostini Basket</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Whole Pig... <span>Sweet BBQ, Spicy BBQ, Vinegar Based BBQ, Texas Toast Style Bread, Buns, Pickles</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Seasoned Green Beans <span>or</span> Baked Beans
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Smoked Gouda, Pancetta, &amp; English Pea Mac n Cheese
                                                </li>

                                                 <li class="col-md-12 col-xs-12">
                                                     Sweet Tea &amp; Lemon Water
                                                 </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div id="solo">
                    <div class="cbp-item">
                        <div class="cbp-caption sixth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Meats</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Jumbo Shrimp Cocktail Tray...
                                                    <span class="price">$18/lb</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Seared Tuna Station
                                                    <span>Wasabi, Ginger, Soy</span>...
                                                    <span class="price">$32/lb</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Coconut Shrimp
                                                    <span>Sweet Chile Sauce</span>...
                                                    <span class="price">$6.75/person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Substitute Prime Rib from Steamship Round...
                                                    <span class="price">$3/person upcharge or $9/person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Hoisin Baby Back Ribs
                                                    <span>4-5 Ribs/person</span>...
                                                    <span class="price">$8</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Herb Crusted Pork Tenderloin
                                                    <span>Dijon Sauce</span>...
                                                    <span class="price">$6.75/person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                Cranberry &amp; Goat Cheese Stuffed Pork Roulade...
                                                    <span class="price">$6.75</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                Sundried Tomato, Mozzarella &amp; Spinach Stuffed Chicken...
                                                    <span class="price">$5.75/person</span>
                                                </li>

                                                 <li class="col-md-12 col-xs-12">
                                                     Chicken Parmesan...
                                                    <span class="price">$5/person</span>
                                                </li>

                                                 <li class="col-md-12 col-xs-12">
                                                     Fried or Grilled Chicken Tenders...
                                                    <span class="price">$5/person (3 ea)</span>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption seventh">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Sides</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Classic Potato Bar
                                                    <span>Martini Glass, Bacon bits, cheddar cheese, butter, sour cream, green onions</span>...
                                                    <span class="price">$3.50 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Traditional Cheddar mac n cheese... <span class="price">$1.75 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Tempura Fried Onion Rings with Ranch Dip... <span class="price">$1.25</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Fried Green Tomatoes <span>Remoulade</span>...
                                                    <span class="price">$1.25 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Marinated Vegetables Pasta Salad <span>Asparagus, Peppadews, Artichoke, Summer Squash, Zucchini, Trottole</span>...
                                                    <span class="price">$2.75 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Dinner Rolls...
                                                    <span class="price">$1 per person</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption eighth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Hors d’oeuvres</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                        <ul class="items hdv-items">
                                            <div class="fancy-heading left">
                                                <h4>Heavy Hors d'oeuvres</h4>
                                            </div>
                                            <li class="col-md-11 col-xs-12">
                                                Cocktail Platter... <span class="price">$3.50 per person</span><br>
                                                <span>Queen Stuffed Olives, Tavern Ham, Roasted Red Peppers, Cornichons, Assorted Crackers</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Spring Rolls... <span class="price">$3.75</span><br>
                                                <span>Sweet Chile Sauce</span>
                                            </li>

                                            <div class="fancy-heading left">
                                                <h4>Meatless Hors d'oeuvres</h4>
                                            </div>

                                            <li class="col-md-12 col-xs-12">
                                                Sriracha and Cream Cheese Wontons...
                                                <span class="price">$1.00 ea</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Spinach and Artichoke dip with Tortilla Chips &amp; Crostinis...
                                                <span class="price">$2.25 per person</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Roasted Eggplant Wild Mushroom and Goat Cheese Crostinis...
                                                <span class="price">$1.50 per Person (2 ea)</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Fried Pickles...
                                                <span class="price">$1.25 per person</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Fried Mushrooms... <span class="price">$1.25 per person</span><br>
                                                <span>Ranch</span>
                                            </li>

                                            <div class="fancy-heading left">
                                                <h4>Meat Hors d'oeuvres</h4>
                                            </div>

                                            <li class="col-md-12 col-xs-12">
                                                Meatballs &amp; Marinara... <span class="price">$2.00 per person (2 ea)</span><br>
                                                <span>Or Meatballs Passed Appetizer</span>
                                            </li>
                                            <li class="col-md-12 col-xs-12">
                                                Assorted Sausage &amp; Cheese Stack... <span class="price">$4.25</span><br>
                                                <span>Conecuh, Andouille, Boudin, Sharp Cheddar, Frill Pick</span>
                                            </li>
                                            <li class="col-md-12 col-xs-12">
                                                 Sweet Sausage, Spinach &amp; Parmesan Stuffed Mushrooms...
                                                 <span class="price">$2 per person (2 ea)</span>
                                            </li>

                                            <div class="fancy-heading left">
                                                <h4>Seafood Hors d'oeuvres</h4>
                                            </div>
                                            <li class="col-md-12 col-xs-12">
                                                Crawfish &amp; Chorizo Wontons...
                                                <span class="price">$4 (2 ea)</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Crispy Shrimp... <span class="price">$2.50 per person (3 ea)</span><br>
                                                    <span>Sriracha Aioli</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Shrimp Ceviche... <span class="price">$13.95 per pound served in 2.5 oz serving</span><br>
                                                <span>citrus pineapple and orange juice cured shrimp,
                                                bell peppers, red onions, jalapeno,
                                                served with fried “pita” chips</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Crab Stuffed Mushrooms...
                                                <span class="price">$3.75 per person (2 ea)</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Hot Crab Dip... <span class="price">$6 per person</span><br>
                                                <span>Crostinis</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                            Bite Size Crab Bruschetta... <span class="price">$2.50</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Smoked Salmon Terrine... <span class="price">$2.75 per person (2 ea)</span><br>
                                                <span>Layers of smoked salmon, cream cheese, capers, Dijon honey glaze, butter crackers</span>
                                            </li>
                                            <div class="fancy-heading left">
                                                <h4>Sweet &amp; Savory Hors d'oeuvres</h4>
                                            </div>

                                            <li class="col-md-12 col-xs-12">
                                            Brie &amp; Pistachio Wontons... <span class="price">$3</span><br>
                                            <span>Mango Glaze</span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Bleu Cheese and Pear Tartlets...
                                                <span class="price">$3 each </span>
                                            </li>

                                            <li class="col-md-12 col-xs-12">
                                                Grilled Alabama Peaches... <span class="price">$3 each (seasonal)</span><br>
                                                <span>Vanilla Mascarpone, Pecan Caramel Drizzle</span>
                                            </li>
                                        </ul>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption ninth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Soup</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Chicken &amp; Sausage Gumbo <span>White Rice</span>...
                                                    <span class="price">$2.75 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Seafood Gumbo...
                                                    <span class="price">$4 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Shrimp &amp; Artichoke Bisque...
                                                    <span class="price">$4 per person</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Butternut Squash &amp; Crab...
                                                    <span class="price">$4 per person</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="cbp-caption tenth">
                            <div class="cbp-caption-defaultWrap">
                                <h4>Beverages &amp; Desserts</h4>
                            </div>

                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-body">
                                    <div class="menu-items">
                                        <div class="row">
                                            <ul class="items">
                                                <li class="col-md-12 col-xs-12">
                                                    Cake Options: <span>Chocolate, Vanilla, Carrot Cake</span><br>
                                                    Icing Options: <span>Buttercream, Cream Cheese</span><br>
                                                    Additions: <span>Nuts, Coconut</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Cake Pops... <span class="price">$3 each</span><br>
                                                    <span>red velvet, white or chocolate cake with white or dark chocolate covering</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Brownies... <span class="price">$1.50 each</span><br>
                                                    <span>With or without nuts</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Assorted Cookies... <span class="price">$1 each</span><br>
                                                    <span>white chocolate macadamia nut, cranberry oatmeal, chocolate chip</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Cheesecake Slices... <span class="price">$3 each</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Cheesecake Bites... <span class="price">$1 each</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Keylime Slices... <span class="price">$3 each</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Keylime Bites... <span class="price">$1.50 each</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Gooey Butter Cake Squares... <span class="price">$2 each</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Tiramisu Cups... <span class="price">$3 each</span>
                                                </li>

                                                <li class="col-md-12 col-xs-12">
                                                    Miniature Cupcakes... <span class="price">$2 each</span>
                                                </li>
                                                <li class="col-md-12 col-xs-12">
                                                    Additional Beverages... <span>Lemonade - $2 ... Coffee - $1</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="col-xs-12"><div class="hr-png-6"></div></div>
