<% @page_title = "About Us" %>
<% @page_description = "Villaggio Grille, in Orange Beach, is home to the most delicious Italian food around. With menu options ranging from appetizers, salads, and sandwiches, to seafood, steaks, and our fantastic pizzas, even the pickiest eaters will love our food!" %>

<div class="page-content">
    <div class="container">
        <div class="fancy-heading center">
            <h1>About Villaggio Grille</h1>
        </div>
        <div class="row mobile-hide">
            <div class="col-md-3">
                <div class="img-circled"><%= image_tag( 'stack.jpg', alt: 'Villaggio Grille food display', class: 'img-responsive') %></div>
            </div>
            <div class="col-md-3">
                <div class="img-circled"><%= image_tag( 'shrimp.jpg', alt: 'Villaggio Grille shrimp dish', class: 'img-responsive') %></div>
            </div>
            <div class="col-md-3">
                <div class="img-circled"><%= image_tag( 'steak.jpg', alt: 'Villaggio Grille steak dish', class: 'img-responsive') %></div>
            </div>
            <div class="col-md-3">
                <div class="img-circled"><%= image_tag( 'dessert.jpg', alt: 'Villaggio Grille desserts', class: 'img-responsive') %></div>
            </div>
        </div>

        <div class="mobile-show">
            <div class="cover">
                <%= image_tag( 'steak.jpg', alt: 'Villaggio Grille steak dish', class: 'img-responsive') %>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <h5 class="p-top-5">
                The experienced chefs at Villaggio Grille bring life to their dishes on a daily basis. Located at the heart of The Wharf, Villaggio has developed and maintained a reputation as one of the best restaurants in the area. <br>
                <br>
                Villaggio opens at 11 a.m., 7 days a week. They offer lunch and dinner daily, and brunch on Sundays. With indoor and outdoor seating, you can choose to enjoy your meal while taking a break from the sun, or on the patio, where you can see what's going on around The Wharf. <br>
                <br>
                Villaggio's menus range from creative appetizers, salads, and sandwiches, to fantastic seafood, steaks, and other entrees. They also serve "flats," which are delicious pizzas they prepare in their wood fired oven.<br>
                <br>
                The staff at Villaggio Grille not only pride themselves on their superior quality of food, but also on the quality of service provided. That level of care is how they established such a large, regular clientele, and why it continues growing.
            </h5>
        </div>
    </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
