<% @page_title = "About Us" %>
<% @page_description = "Villaggio Grille, in Orange Beach, is home to the most delicious Italian food around. With menu options ranging from appetizers, salads, and sandwiches, to seafood, steaks, and our fantastic pizzas, even the pickiest eaters will love our food!" %>

<div class="page-content">
  <div class="container">
    <div class="fancy-heading center"><h1>About Villaggio Grille</h1></div>

    <div class="image-row fw Xrow Xmobile-hide">
      <div class="img-item"><%= image_tag( 'stack.jpg', alt: 'Villaggio Grille food display', class: 'img-responsive') %></div>
      <div class="img-item"><%= image_tag( 'shrimp.jpg', alt: 'Villaggio Grille shrimp dish', class: 'img-responsive') %></div>
      <div class="img-item"><%= image_tag( 'steak.jpg', alt: 'Villaggio Grille steak dish', class: 'img-responsive') %></div>
      <div class="img-item"><%= image_tag( 'dessert.jpg', alt: 'Villaggio Grille desserts', class: 'img-responsive') %></div>
    </div>

    <div class="image-row mobile Xmobile-show"><%= image_tag( 'steak-mob.jpg', alt: 'Villaggio Grille steak dish', class: 'img-responsive mobile-img') %></div>

    <div class="text-row">
      <p>Italian Fusion has never tasted so good! Our talented chefs and pristine ingredients create a dining experience so enjoyable you won't want it to end!</p>

      <p>We are the first to admit we take our wine seriously! The wide range of our wine menu just confirms it. Awarded the Wine Spectator Award ten years in a row, our wine list is sure to have something for everyone. Enjoy a glass by itself, or pair a nice bottle with a delicious dish! </p>

      <p>The experienced chefs at Villaggio Grille bring life to their dishes on a daily basis. Located at the heart of The Wharf, Villaggio has developed and maintained a reputation as one of the best restaurants in the area. Our menus range from creative appetizers, salads, and sandwiches to fantastic pasta dishes, seafood, steaks and other entrees. In addition to these wonderful selections, Villaggio is also known for its scratch made "flats," which are delicious pizzas prepared in a 10,000 pound, wood fired oven.</p>

      <p>With indoor and outdoor seating, you can choose to enjoy your meal in the ambience of the dining room with a view of the open kitchen and brick pizza oven. Or if you want to be in the middle of the action, then the patio is the right choice. Being at the heart of the Wharf, you have front row seats to the famous light shows, fireworks, tournament weigh-ins and many other events that occur on main street.</p>

      <p>The staff at Villaggio Grille not only pride themselves on their superior quality of food, but also on the quality of service provided. That level of care is how they established such a large, regular clientele, and why it continues growing.</p>
    </div>

  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>