<% @page_title = "Brunch Menu" %>
<% @page_description = "Join Villaggio for brunch, Sunday's from 11am-2pm" %>

<div id="menupage" class="nodrops">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container less">
        <section class="fancy-heading center">
          <h1>Sunday Brunch Menu</h1>
          <h2>Served 11am - 2pm</h2>
        </section>
      </div>
    </div>
  </div>

  <div class="fullSec ipNav">
    <%# <a href="#starters" data-uk-smooth-scroll>Starters</a>
    <a href="#salads" data-uk-smooth-scroll>Salads</a>
    <a href="#pizza" data-uk-smooth-scroll>Wood Fired Pizzas</a> %>
    <a href="#brunch" data-uk-smooth-scroll>Brunch Menu</a>
    <a href="#kids" data-uk-smooth-scroll>Kids Menu</a>
    <a href="#dessert" data-uk-smooth-scroll>Dessert Menu</a>
    <a href="#familyMeals" data-uk-smooth-scroll>Family Meals To Go</a>
  </div>

  <div class="page-content food-menus">
    <div class="fullSec newLay">
      <div class="kpWrapXl">
        <div class="right cbp-item">
          <div id="brunch" class="cbp-caption plates">
            <div class="cbp-caption-defaultWrap"><h4>Brunch Menu</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body menuLink">
                <p class="instr">Click the menu image below to see a larger version.</p>
                <%= link_to "BrunchMenu.pdf", target: '_blank', class: 'menu-item menuImg' do %>
                  <%= image_tag('menuBrunch.png', class: 'img-responsive border', alt: "Villaggio Brunch Menu, Orange Beach, AL restaurant") %>
                <% end %>
              </div>
            </div>
          </div>

          <%= render "shared/menu-share" %>
        </div>

        <div class="left stickyNn fwImage"><%= image_tag('brunchImage.jpg', alt: 'Italian fusion restaurant in Orange Beach, AL', class:'img-responsive')%></div>

        <%= render "shared/disclaimer" %>

        <div class="mobImage"><%= image_tag('brunchImageMob.jpg', alt: 'Italian fusion restaurant in Orange Beach, AL', class:'img-responsive')%></div>
      </div>
    </div> 
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
