<% @page_title = "Brunch Menu" %>
<% @page_description = "Join Villaggio for brunch, Sunday's from 11 a.m.- 2p.m." %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container less">
                <section class="fancy-heading center">
                    <h1>Sunday Brunch Menu</h1>
                    <h3>Served 11am - 2pm</h3>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Small Plates</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Crab Cakes<span>... $12</span></h4>
                                                <p>Fried Green Tomatoes, Lemon Beurre Blanc, Baby Field Greens </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fruit &amp; Cheese<span>... $12</span></h4>
                                                <p>Artisanal Cheeses, Fresh Seasonal Fruit, Spiced Walnuts, Assorted Crackers, Dried Cherries</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Calamari Fritti <span>... $14</span></h4>
                                                <p>Lightly Fried Seasoned Calamari, Parmesan Cheese &amp; Lemons, Citrus Sweet Chili</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Crab Bruschetta <span>... $14</span></h4>
                                                <p>Grilled Pesto Crostini, Lump Crab, Prosciutto, Fresh Tomatoes, Parmesan &amp; Basil</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption oyster">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Wood Fired Oysters</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %><strong>8 each - $16</strong></h4>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Prosciutto Rockefeller</h4>
                                                <p>Fresh Louisiana Oysters topped with Prosciutto, Spinach, Cream &amp; Parmesan Cheese</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Garlic Butter</h4>
                                                <p>Fresh Louisiana Oysters topped a Garlic &amp; Butter Compound</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Half &amp; Half</h4>
                                                <p>4 of each</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Benedicts on Biscuits</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">

                                            <div class="menu-item">
                                              <h4>Villaggio Benedict*  <span> ... $14</span></h4>
                                                <p>Prosciutto, Crab Cream, Parmesan Cheese, Bacon, Potato Hash, Poached Eggs</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Crab Cake Benedict* <span> ... $14</span></h4>
                                                <p>Fried Green Tomatoes, Bacon Potato Hash, Lemon Beurre Blanc, Poached Eggs </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Short Rib Benedict* <span> ... $14</span></h4>
                                                <p>Beer Braised Short Rib, Hollandaise, Bacon Potato Hash &amp; Jus</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Blackened Tuna Benedict* <span> ... $14</span></h4>
                                                <p>Sautéed Spinach, Roasted Garlic Grits, Lemon Beurre Blanc</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Brunch Plates</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>Steak &amp; Eggs*  <span> ... $16</span></h4>
                                                <p>Grilled Sirloin, Poached Eggs, Asparagus, Bacon, Potato Hash, Demi Glaze </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>Grilled Salmon*  <span> ... $12</span></h4>
                                              <p>Roasted Garlic Grits, Sautéed Spinach, Balsamic Reduction </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Villaggio Melt<span> ... $10 (choice of fries or house made chips)</span></h4>
                                              <p>Roast Beef, Tavern Ham, Smoked Turkey, Tomato, Field Greens, Mozzarella, Dijon Mustard</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seafood Pasta <span> ... $12</span></h4>
                                                <p>Gulf Shrimp, Lump Crab Meat, Alfredo Cream, Parmesan Cheese, Fettuccini Pasta</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Southern Comfort* <span> ... $12</span></h4>
                                                <P>Two Eggs your way, Roasted Garlic Grits, Smoked Hunter’s Sausage, Texas Toast</P>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Burger <span> ...$10 (choice of fries or house made chips)</span></h4>
                                                <p>Grilled Beef Burger, Tomato, Seared Red Onion, Field Greens, Roasted Garlic Aioli</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Flats - $12</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Margherita</h4>
                                                <p>Mozzarella &amp; Provolone Cheese Roasted Garlic, Tomatoes, Fresh Basil, Marinara</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Chicken Pesto </h4>
                                                <p>Grilled Chicken, Basil Pesto, Roasted Tomatoes, Mushrooms, Provolone, Mozzarella</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Villaggio </h4>
                                                <p>Sausage, Pepperoni, Bell Peppers, Mushrooms, Kalamata Olives, Mozzarella, Oregano, Marinara</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption salads">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Salads</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>Caprese <span> ... $12</span></h4>
                                              <p>Fresh Sliced Tomatoes, Fresh Mozzarella, Basil, Extra Virgin Olive Oil &amp; Balsamic Reduction</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>Goat Cheese &amp; Walnut <span> ... $10</span></h4>
                                              <p>Baby Field Greens, Dried Cherries, Spiced Walnuts, Goat Cheese &amp; Roasted Fig Vinaigrette</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Chopped Caesar <span> ... $6</span></h4>
                                                <p>Tossed Romaine Hearts, Grape Tomatoes, Focaccia Croutons, Parmesan, Caesar Dressing </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>Villaggio <span> ...$6</span></h4>
                                              <p>Spring Mix, Grape Tomatoes, Sliced Onion, Parmesan &amp; Roasted Fig Vinaigrette</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Spinach &amp; Wood Fired Chicken Salad<span> ...$12</span></h4>
                                                <p>Baby Spinach, Red Onion, Tomatoes, Croutons, Feta Cheese, Warm Bacon Vinaigrette</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
