<% @page_title = "Brunch Menu" %>
<% @page_description = "Join Villaggio for brunch, Sunday's from 11 a.m.- 2p.m." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container less">
        <section class="fancy-heading center">
          <h1>Sunday Brunch Menu</h1>
          <h2>Served 11am - 2pm</h2>
        </section>
      </div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption plates">
                  <div class="cbp-caption-defaultWrap"><h4>Brunch Plates</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Villaggio Benedict</h4>
                        <p>Prosciutto, Fried Green Tomato, Two Poached Eggs, Bearnaise Sauce, English Muffins, Roasted Garlic Grits, and Sauteed Green Beans</p>
                      </div>

                      <div class="menu-item">
                        <h4>Crab Cake Benedict</h4>
                        <p>Two Petite Crab Cakes, Two Poached Eggs, English Muffins, Bearnaise Sauce, Roasted Garlic Grits, and Sauteed Green Beans</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Steak and Eggs</h4>
                        <p>Grilled NY Strip, Two Fried Eggs, Sweet Potato Hash, Green Beans and Demi Glace</p>
                      </div>

                      <div class="menu-item">
                        <h4>Southern Comfort</h4>
                        <p>Two Scrambled Eggs, Smoked Bacon Strips, Sweet Potato Hash, Biscuits with Sausage Gravy</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Brunch Salmon</h4>
                        <p>Grilled Salmon, Sweet Potato Hash, Sauteed Green Beans topped with Beurre Blanc</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Shrimp and Grits</h4>
                        <p>Gulf Shrimp with Bacon Tomato Chardonnay Cream Sauce, Served over Roasted Garlic Grits</p>
                      </div>

                      <div class="menu-item">
                        <h4>Seafood Pasta</h4>
                        <p>Gulf Shrimp, Scallop, Crab Salad, and Fettuccine tossed in Alfredo Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Italian Club</h4>
                        <p>Chicken, Prosciutto, Spring Mix, Tomato and Basil Aioli on Ciabatta Bread</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Pan Seared Fish</h4>
                        <p>Mushroom & Pea Risotto, Green Beans, Beurre Blanc</p>
                      </div>

                      <div class="menu-item">
                        <h4>Lasagna</h4>
                        <p>Smoked Bacon, Ground Beef and Pork, Ricotta and Marinara Sauce</p>
                      </div>

                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
