<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>
<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container less">
        <section class="fancy-heading center">
          <h1>Lunch Menu</h1>
          <h3>Served Daily, from 11am - 4pm</h3>
        </section>
      </div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption second">
                  <div class="cbp-caption-defaultWrap"><h4>Sandwiches </h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <p><b>Choice of House Made Chips or Fries.</b></p>
                      </div>
                      <div class="menu-item">
                        <h4>Italian Club <span> ... $12</span></h4>
                        <p>Grilled Chicken, Prosciutto, Roasted Red Pepper, Provolone, Tomato, &amp; Field Greens with Garlic Aioli, Served on Ciabatta</p>
                      </div>

                      <div class="menu-item">
                        <h4>Grouper Sandwich <span> ... $14</span></h4>
                        <p>Pan Seared Grouper, Lemon &amp; Dill Tartar Sauce, Spring Mix, Tomato, House Made Focaccia</p>
                      </div>
                        
                      <div class="menu-item">
                        <h4>Villaggio Burger <span> ... $12</span></h4>
                        <p>Half Pound Beef Patty, Seared Red Onions, Tomato, &amp; Field Greens with Garlic Aioli, Served on Brioche<br>
                        (Bleu Cheese, Provolone or Cheddar)</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="cbp-caption third">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Basil Chicken Pasta <span>... $16</span></h4>
                        <p>Angel Hair, Grilled Chicken, Basil Pesto, Cream, Roasted Herb Tomatoes, Wild Mushrooms, Pecorino Romano</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Pan Seared Grouper <span>... $14</span></h4>
                        <p>Mushroom &amp; Pea Risotto, Green Beans, White Wine Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Lasagna <span>... $14</span></h4>
                        <p>Smoked Bacon, Ground Beef, &amp; Pork, Ricotta &amp; Marinara Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Chicken Parmesan <span>... $14</span></h4>
                        <p>Breaded, Mozzarella Stuffed Chicken, over Fettuccine with Marinara Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> New York Strip <span> ... $18</span></h4>
                        <p>Truffle Mashed Potatoes, Green Beans, Demi Glace</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Scampi <span>... $14 </span></h4>
                        <p>Gulf Shrimp, Tomatoes, Peas &amp; Pappardelle Pasta with White Wine Butter Sauce</p>
                      </div>   

                      <div class="menu-item">
                        <h4>Chicken or Shrimp Alfredo <span>... $14</span></h4>
                        <p>Fettuccine, Alfredo</p>
                      </div>
                      
                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Salmon <span>... $16</span></h4>
                        <p>Roasted Tomato Risotto &amp; Broccolini, Topped with Balsamic Reduction</p>
                      </div>            
                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
