<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>

<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container less">
                <section class="fancy-heading center">
                    <h1>Lunch Menu</h1>
                    <h3>Served Daily, from 11 a.m. - 4 p.m.</h3>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                               <!--  <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$8 Selections</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item"><p>All sandwiches served with housemade chips or fries, sub salad - $1</p></div>

                                            <div class="menu-item">
                                                <h4>*Villaggio Burger</h4>
                                                <p>Served on Sourdough Bun with Choice of:  Blue Cheese, Cheddar, Provolone<br>
                                                    House Ground Beef, Tomatoes Seared Red Onions, Mix Greens Roasted Garlic Aioli

                                                </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp BLT</h4>
                                                <p>Blackened Gulf Shrimp, Smoked Bacon, Provolone, Fried Green Tomato, Roasted Garlic Aioli </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Melt</h4>
                                                <p>Roast Beef, Tavern Ham, Smoked Turkey, Mozzarella, Baby Greens, Tomatoes, Dijon Mustard</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <!-- <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$10 Selections</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Spinach &amp; Wood Fired Chicken Salad</h4>
                                                <p>Baby Spinach, Red Onion, Tomatoes, Focaccia Croutons, Feta, Warm Bacon Vinaigrette   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>*Beef or Shrimp &amp; Bleu Cheese Salad</h4>
                                                <p>Red Onion, Tomato, Spiced Walnuts, Ranch Dressing, Bleu Cheese Crumbles</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Eggplant Pasta</h4>
                                                <p>Breaded Eggplant, Sautéed Spinach, Marinara, Mozzarella, Trottole Pasta  </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>*Marinated Sirloin Steak</h4>
                                                <p>Truffle Mashed Potatoes, Green Beans, Demi-Glace</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Basil Chicken Pasta</h4>
                                                <p>Mushrooms, Tomatoes, Basil Pesto Cream, Fettuccine   </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seafood Pasta</h4>
                                                <p>Alfredo Sauce, Scallop, Crab, Shrimp, Fettucine</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Parmesan </h4>
                                                <p>Stuffed Chicken Breast, Mozzarella, House Made Marinara, Fettuccine  </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Veal Marsala</h4>
                                                <p>Breaded Veal, Tomatoes, Caramelized Onions, Capers, Fettuccine</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Traditional Lasagna</h4>
                                                <p>House Ground Beef &amp; Pork, Ricotta Cheese, Tomato Sauce, Mozzarella, Fresh Lasagna Sheets</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="cbp-caption first">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Lunch Menu</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Vegetable Plate<span> ... $12 </span></h4>
                                                <p>Grilled Eggplant, Roasted Red Peppers, Squash Succotash</p>
                                            </div>


                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Beef or Shrimp &amp; Bleu Cheese Salad * <span> ... $12 </span></h4>
                                                <p>Red Onion, Tomato, Spiced Walnuts, Ranch Dressing, Bleu Cheese Crumbles</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Airline Chicken Breast <span> ... $14 </span></h4>
                                                <p>Garlic Wild Rice, Asparagus, Brown Butter </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Spinach &amp; Wood Fired Chicken Salad<span> ... $14 </span></h4>
                                                <p>Baby Spinach, Red Onion, Tomatoes, Croutons, Feta Cheese, Warm Bacon Vinaigrette </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Basil Chicken Pasta <span> ... $12 </span></h4>
                                                <p>Mushrooms, Tomatoes, Basil Pesto Cream, Grilled Chicken, Fettuccini Pasta </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Seafood Pasta <span> ... $14 </span></h4>
                                                <p>Gulf Shrimp, Scallops, Lump Crab Meat, Alfredo Cream, Parmesan Cheese, Fettuccini Pasta </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Chicken Parmesan <span> ... $12 </span></h4>
                                                <p>Stuffed Breaded Chicken, Mozzarella, Marinara, Parmesan Cheese, Basil, Fettuccini Pasta </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Veal Marsala<span> ... $14 </span></h4>
                                                <p>Breaded Veal, Tomatoes, Carnalized Onions, Capers, Fettuccini Pasta </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Traditional Lasagna <span> ... $10 </span></h4>
                                                <p>Ground Beef &amp; Pork, Ricotta Cheese, Marinara, Mozzarella Cheese, Fresh Pasta Sheets </p>
                                            </div>


                                            <div class="menu-item">
                                              <h4>Eggplant Pasta  <span> ... $12 </span></h4>
                                                <p>Breaded Eggplant, Sautéed Spinach, Marinara, Mozzarella Cheese, Trottole Pasta </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Pan Seared Corvina <span> ... $14 </span></h4>
                                                <p>Green Beans, Garlic Wild Rice, Brown Butter </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Salmon * <span> ... $14 </span></h4>
                                                <p>Roasted Garlic Grits, Sautéed Spinach, Balsamic Reduction</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Marinated Sirloin Steak * <span> ... $14 </span></h4>
                                                <p>Truffle Mashed Potatoes, Green Beans, Red Wine Demi Glaze </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Shrimp Kabobs <span> ... $14 </span></h4>
                                                <p>Garlic Wild Rice, Sautéed Spinach, Truffle Honey Glaze </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Beef &amp; Shallot Kabob * <span> ... $14 </span></h4>
                                                <p>Roasted Shallot Mashed Potatoes, Broccolini, Demi Glaze </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Shrimp BLT <span> ... $12</span></h4>
                                                <p>Blackened Gulf Shrimp, Bacon, Provolone Fried Green Tomato, Roasted Garlic Aioli
                                                <br> Choice Of:  Fries or House Made Chips </p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Villaggio Burger * <span> ... $11</span></h4>
                                                <p>Grilled Beef Burger, Tomato, Seared Red Onion, Field Greens, Roasted Garlic Aioli <br>
                                                Choice of: Blue Cheese, Provolone or Cheddar<br>
                                                Choice of: Fries or House Made Chips</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Villaggio Melt <span> ... $10</span></h4>
                                                <p>Roast Beef, Tavern Ham, Smoked Turkey, Tomato , Field Greens, Mozzarella, Dijon Mustard <br>
                                                Choice Of:  Fries or House Made Chips</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Lunch Pizzas - $12</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                              <h4>Margherita</h4>
                                                <p>Mozzarella &amp; Provolone Cheese, Roasted Garlic, Tomatoes, Fresh Basil, Marinara</p>
                                            </div>
                                            <div class="menu-item">
                                              <h4>Barbeque Chicken</h4>
                                                <p>Grilled Chicken, Barbeque Sauce, Red Onion, Jalapenos, Cheddar &amp; Cream Cheese</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Chicken Pesto </h4>
                                                <p>Grilled Chicken, Basil Pesto, Roasted Tomatoes, Mushrooms, Provolone, Mozzarella</p>
                                            </div>
                                            <div class="menu-item">
                                              <h4>Villaggio </h4>
                                                <p>Sausage, Pepperoni, Bell Peppers, Wild Mushrooms, Kalamata Olives, Mozzarella, Oregano, Marinara</p>
                                            </div>

                                            <!-- <div class="menu-item">
                                                <h4>Duck Pizza</h4>
                                                <p>Smoked Duck Breast, Roasted Garlic, Goat Cheese, Dried Cherries, Fresh Basil, Balsamic Reduction</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="cbp-caption fourth">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>$12 Heart Healthy Selections</h4>
                                    </div>

                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Airline Chicken</h4>
                                                <p>Sautéed Spinach, Asparagus, Brown Butter<br>(435 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp Kabobs</h4>
                                                <p>Wild Rice, Sautéed Spinach, Truffle Honey Glaze<br>(447 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Pan Seared Corvina</h4>
                                                <p>Green Beans, Wild Rice, Brown Butter<br>(506 Cal)</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Grilled Salmon</h4>
                                                <p>Braised Lentils, Sautéed Spinach, Balsamic Reduction<br>(495 Cal) </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Vegetable Plate</h4>
                                                <p>Grilled Eggplant, Roasted Red Peppers, Succotash <br>(299 Cal)</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <%= render "shared/menu-share" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
