<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, you'll be begging people to join you just for an excuse to order more!" %>

<div id="menupage" class="nodrops">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container less">
        <section class="fancy-heading center">
          <h1>Lunch Menu</h1>
          <h3>Served Daily, from 11am - 5pm</h3>
        </section>
      </div>
    </div>
  </div>

  <div class="fullSec ipNav">
    <a href="#lunchMenu" data-uk-smooth-scroll>Lunch Menu</a>
    <a href="#kids" data-uk-smooth-scroll>Kids Menu</a>
    <a href="#dessert" data-uk-smooth-scroll>Dessert Menu</a>
    <a href="#familyMeals" data-uk-smooth-scroll>Family Meals To Go</a>
  </div>

  <div class="page-content food-menus">
    <div class="fullSec newLay">
      <div class="kpWrapXl">
        <div class="right cbp-item">
          <div id="lunchMenu" class="cbp-caption second">
            <div class="cbp-caption-defaultWrap"><h4>Lunch Menu</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body menuLink">
                <p class="instr">Click the menu image below to see a larger version with drink menu.</p>
                <%= link_to "LunchMenu.pdf", target: '_blank', class: 'menu-item menuImg' do %>
                  <%= image_tag('menuLunch.png', class: 'img-responsive border', alt: "Villaggio Lunch Menu, Orange Beach, AL restaurant") %>
                <% end %>
              </div>
            </div>
          </div>

          <%= render "shared/menu-share" %>
        </div>

        <div class="left stickyNn fwImage"><%= image_tag('lunchImage.jpg', alt: 'Italian fusion lunch dishes in Orange Beach, AL', class:'img-responsive')%></div>

        <%= render "shared/disclaimer" %>

        <div class="mobImage"><%= image_tag('lunchImageMob.jpg', alt: 'Italian fusion restaurant in Orange Beach, AL', class:'img-responsive')%></div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
