<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>
<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container less">
                <section class="fancy-heading center">
                    <h1>Lunch Menu</h1>
                    <h3>Served Daily, from 11 a.m. - 4 p.m.</h3>
                </section>
            </div>
        </div>
    </div>

    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <%= render 'shared/snacks' %>

                                <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Sandwiches </h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Served on Ciabatta Bread<br>Choice of House Made Chips or French Fries</h4>
                                            </div>
                                            <div class="menu-item">
                                                <h4>Italian Club <span> ... $12</span></h4>
                                                <p>Grilled Chicken, Prosciutto, Roasted Red Pepper, Provolone, Tomato, and Field Greens with Garlic Aioli</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Melt <span> ... $12</span></h4>
                                                <p>Roast Beef, Tavern Ham, Smoked Turkey, Mozzarella, Tomato, and Field Greens with Dijon Mustard</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fish Sandwich <span> ... $14</span></h4>
                                                <p>Fresh Fish of the Day, Lettuce, Tomato, Field Greens and Grilled Red Onions with Tartar Sauce</p>
                                            </div>

                                            <!-- <div class="menu-item">
                                                <h4>Blackened Shrimp BLT <span> ... $11</span></h4>
                                                <p>Blackened Gulf Shrimp, Bacon, Tomato, and Field Greens with Creole Remoulade</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Tuna Wrap <span> ... $14</span></h4>
                                                <p>Tomato Basil Wrap, Arugula, Goat Cheese, Pickled Vegetables, and Wasabi Aioli</p>
                                            </div> -->

                                            <div class="menu-item">
                                                <h4>Villaggio Burger <span> ... $12</span></h4>
                                                <p>Half Pound Beef Patty, Seared Red Onions, Tomato, and Field Greens with Garlic Aioli<br>
                                                    (choice of: Bleu Cheese, Provolone or Cheddar)</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Entrees</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <p>Add Side Salad: $3</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Lasagna <span>... $10 </span></h4>
                                                <p>Smoked Bacon, Ground Beef, &amp; Pork, Ricotta &amp; Marinara Sauce</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Chicken Parmesan <span>... $12 </span></h4>
                                                <p>Breaded Chicken Stuffed with Mozzarella. Served over Fettuccine with Marinara Sauce</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Shrimp Scampi <span>... $14 </span></h4>
                                                <p>Alabama Gulf Shrimp, Tomatoes, Peas, &amp; Pappardelle Pasta with White Wine Butter Sauce</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Seafood Pasta <span>... $16 </span></h4>
                                                <p>Alabama Gulf Shrimp, Scallop, &amp; Crab Salad. Served with Fettuccini with Alfredo Sauce</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Vegetable Plate <span>... $12</span></h4>
                                                <p>Grilled Eggplant, Roasted Red Pepper, &amp; Squash Succotash</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Salmon <span>... $14</span></h4>
                                                <p>Roasted Fingerlings &amp; Broccolini. Topped with Balsamic Reduction</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Chicken Breast <span>... $12</span></h4>
                                                <p>Fresh Mozzarella &amp; Tomato Salad, &amp; Green Beans</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Pan Seared Fish <span>... $14</span></h4>
                                                <p>Mushroom &amp; Pea Risotto &amp; Green Beans. Topped with Beurre Blanc</p>
                                            </div>




                                            <!-- <div class="menu-item">
                                              <h4>Veal Marsala <span>... $12 </span></h4>
                                                <p>Thin Sliced, Dredged Veal with Capers and Caramelized Onions over Smashed Fingerlings and Green Beans</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Shrimp Pasta <span>... $12 </span></h4>
                                                <p>Angel Hair, Artichoke, Sun Dried Tomatoes, and Asparagus with Red Pepper Pesto</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Stuffed Shells <span>... $10</span></h4>
                                                <p>Ricotta, Bolognese, and Tomatoes</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Grilled New York Strip <span>... 6oz - $12</span></h4>
                                                <p>Asiago Gnocchi and Green Beans. Topped with Demi Glace</p>
                                            </div>

                                            <div class="menu-item">
                                              <h4>Eggplant Parmesan <span>... $9</span></h4>
                                                <p>Sliced & Lightly Fried Eggplant, Mozzarella, and Broccolini with Marinara</p>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                                <%= render "shared/menu-share" %>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div><br>
                    <div class="menu-print">
                      <p>* Consuming raw or uncooked meats, seafood, or shellfish may cause potential health risks </p>
                      <div class="stamp"><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> <p>Represents Gluten Free Menu Items </p></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
