<% @page_title = "Lunch Menu" %>
<% @page_description = "Villaggio is open for lunch seven days a week. With so many delicious entrees, and a list of lunch specials to choose from, you'll be begging people to join you, just for an excuse to order more!" %>
<div id="menupage">
    <div id="page-title" class="pt-bkg-image image-menus">
        <div class="overlay">
            <div class="title-container less">
                <section class="fancy-heading center">
                    <h1>Lunch Menu</h1>
                    <h3>Served Daily, from 11 a.m. - 4 p.m.</h3>
                </section>
            </div>
        </div>
    </div>
    <div class="page-content food-menus">
        <section class="tabs-example">
            <div class="tabs">
                <div class="container no-padding">
                    <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <div id="accordeon" class="col-md-12 no-padding">
                            <div class="cbp-item">
                                <%= render 'shared/snacks' %>

                                <div class="cbp-caption second">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Sandwiches </h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <h4>Served on Ciabatta Bread<br>Choice of House Made Chips or French Fries</h4>
                                            </div>
                                            <div class="menu-item">
                                                <h4>Italian Club <span> ... $12</span></h4>
                                                <p>Wood-Fired Chicken, Prosciutto, Roasted Red Pepper, Tomato, Field Greens & Provolone with Garlic Aioli</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Melt <span> ... $12</span></h4>
                                                <p>Roast Beef, Tavern Ham, Smoked Turkey, Mozzarella, Tomato & Field Greens with Dijon Mustard</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Pan Seared Fish <span> ... $12</span></h4>
                                                <p>Fresh Fish of the Day, Lettuce, Tomato, Field Greens, Seared Red Onions, Tartar Sauce</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Blackened Shrimp BLT <span> ... $12</span></h4>
                                                <p>Blackened Gulf Shrimp, Bacon, Tomato, Field Greens, Creole Remoulade</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Fried Oyster BLT <span> ... $12</span></h4>
                                                <p>Gulf Oysters, Bacon, Tomato, Field Greens, Creole Remoulade</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Villaggio Burger <span> ... $12</span></h4>
                                                <p>Grilled Beef Burger, Seared Red Onion, Tomato, Field Greens & Roasted Garlic Aioli<br>
                                                    (choice of: Bleu Cheese, Provolone or Cheddar)</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="cbp-caption third">
                                    <div class="cbp-caption-defaultWrap">
                                        <h4>Entrees</h4>
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-body">
                                            <div class="menu-item">
                                                <p>Add Side Salad: $3</p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Veal Marsala <span> ... $12</span></h4>
                                                <p>Thin Sliced, Dredged Veal with Capers, Tomatoes Caramelized Onions over Smashed Fingerlings, Green Beans </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Lasagna <span> ... $9</span></h4>
                                                <p>Smoked Bacon, Ground Beef & Pork, Ricotta, Marinara Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Parmesan  <span> ... $12</span></h4>
                                                <p>Breaded Chicken Stuffed with Mozzarella, Fettuccini, Marinara Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Shrimp Scampi <span> ... $12</span></h4>
                                                <p>Alabama Gulf Shrimp, Tomatoes, Peas, Torn Pasta Sheets, White Wine Butter Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Seafood Pasta <span> ... $14</span></h4>
                                                <p>Alabama Gulf Shrimp, Scallop, Crab Salad, Alfredo Cream Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4>Chicken Scallopini <span> ... $12</span></h4>
                                                <p>Chicken, Caramelized Onion, Capers, Fettuccini, Tomato Cream Sauce </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled New York Strip  <span> ... 6oz - $14</span></h4>
                                                <p>Potato Gnocchi, Green Beans, Demi Glace </p>
                                            </div>                                            

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Vegetable Plate <span> ... $12</span></h4>
                                                <p>Grilled Eggplant, Roasted Red Pepper, Squash Succotash </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Salmon  <span> ... $12</span></h4>
                                                <p>Roasted Fingerlings, Broccolini, Balsamic Reduction </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Chicken Breast  <span> ... $12</span></h4>
                                                <p>Chicken Breast, Fresh Mozzarella, Tomato Salad, Green Beans </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Grilled Shrimp <span> ... $12</span></h4>
                                                <p>Gulf Shrimp, Tomato, Caramelized Onions, Saffron Rice, Broccolini </p>
                                            </div>

                                            <div class="menu-item">
                                                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Pan Seared Fish of the Day  <span> ... $12</span></h4>
                                                <p>Mushroom & Pea Risotto, Green Beans, Beurre Blanc </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <%= render "shared/menu-share" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
