<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <div class="cbp-caption dinner-apps">
                  <div class="cbp-caption-defaultWrap"><h4>Starters</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Beef Carpaccio <span> ... $16</span></h4>
                        <p>Thinly Sliced Rare Beef Tenderloin under Arugula, Capers, and Red Onions. With Horseradish Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Calamari Fritti <span> ... $16</span></h4>
                        <p>Lightly Fried Seasoned Calamari, Parmesan Cheese and Lemon, with Citrus Sweet Chili</p>
                      </div>

                      <div class="menu-item">
                        <h4>Margherita Pizza<span> ... $16</span></h4>
                        <p>Marinara, Fresh Mozzarella, Roasted Garlic, Tomatoes and Topped with Fresh Basil</p>
                      </div>

                      <div class="menu-item ">
                        <h4>Prosciutto &amp; Saffron Arancini <span> ... $14</span></h4>
                        <p>Saffron Risotto, Prosciutto, Green Onions, Roasted Tomatoes, Parmesan, Mozzarella. Served with Piccanti Marinara</p>
                      </div>

                      <div class="menu-item">
                        <h4>Oyster Trio <span> ... $22</span></h4>
                        <p>Prosciutto Rockefeller, Gorgonzola &amp; Shallot, Manchego & Jalapeno. Includes 3 of Each Oyster</p>
                      </div>

                      <div class="menu-item dinner-only">
                        <h4>Meat &amp; Cheese Board <span> ... $16</span></h4>
                        <p>Bresola, Coppa, Prosciutto, Gorgonzola, Honey Brie, Fig Spread, Spiced Walnuts and Assorted Crackers</p>
                      </div>
                    </div>
                  </div>
                </div>

                <%= render 'shared/snacks' %>

                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          Grilled Fish <span> ... $30</span></h4>
                        <p>Truffle Mashed Potatoes, Squash Succotash, Brown Butter Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese <span> ... $30</span></h4>
                        <p>Pappardelle Pasta with Ground Beef and Pork, Smoked Bacon, Fresh Basil, and Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          Scallops <span> ... $34</span></h4>
                        <p>Pan Seared Scallops, Red Beet Risotto, Goat Cheese Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>Seafood Pasta <span> ... $30</span></h4>
                        <p>Alabama Gulf Shrimp, St. Georges Bank Scallops, Crab Salad, with Fettuccine and Creamy Alfredo, Topped with Fresh Basil</p>
                      </div>

                      <div class="menu-item">
                        <h4>8oz Filet Mignon <span> ... $34</span></h4>
                        <p>Asiago Gnocchi, Asparagus, Demi Glace<br/><b>Add Crab: $4</b></p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          16oz Cowboy Ribeye <span> ... $44</span></h4>
                        <p>Truffle Mashed Potatoes, Brocollini, Demi Glace</p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Bone-in Duroc Pork Chop <span> ... $34</span></h4>
                        <p>Pancetta Pea Mac &amp; Cheese, Asparagus, Peach Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4>Roasted Lamb Chop <span> ... $34</span></h4>
                        <p>Wood Fired Roasted Lamb Chop, Fig Jam Risotto, Green Beans, Blasamic Glaze</p>
                      </div>

                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <div class="clearfix"></div><br>
          <div class="menu-print">
            <p>* Consuming raw or uncooked meats, seafood, or shellfish may cause potential health risks </p>
            <div class="stamp"><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> <p>Represents Gluten Free Menu Items </p></div>
            <p>** There will be a convenience fee added to all card payments.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
