<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="fullSec ipNav">
    <a href="#dinner" data-uk-smooth-scroll>Dinner Menu</a>
    <a href="#kids" data-uk-smooth-scroll>Kids Menu</a>
    <a href="#dessert" data-uk-smooth-scroll>Dessert Menu</a>
    <a href="#familyMeals" data-uk-smooth-scroll>Family Meals To Go</a>
  </div>

  <div class="page-content food-menus XXlinkFull nodrops">
    <div class="fullSec newLay">
      <div class="kpWrapXl">

        <div class="right cbp-item">
          <div id="dinner" class="cbp-caption second">
            <div class="cbp-caption-defaultWrap"><h4>Dinner Menu</h4></div>

            <div class="cbp-caption-activeWrap">
              <div class="cbp-l-caption-body menuLink">
                <p class="instr">Click the menu image below to see a larger version.</p>
                <%= link_to "DinnerMenu.pdf", target: '_blank', class: 'menu-item menuImg' do %>
                  <%= image_tag('menuDinner.png', class: 'img-responsive border', alt: "Villaggio Dinner Menu, Orange Beach, AL restaurant") %>
                <% end %>
              </div>
            </div>
          </div>

          <%= render "shared/menu-share" %>
        </div>

        <div class="left stickyNn fwImage"><%= image_tag('pasta.jpg', alt: 'Italian fusion restaurant in Orange Beach, AL', class:'img-responsive')%></div>

        <%= render "shared/disclaimer" %>

        <div class="mobImage"><%= image_tag('pasta.jpg', alt: 'Italian fusion restaurant in Orange Beach, AL', class:'img-responsive')%></div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
