<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/snacks' %>

                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>8oz Filet Mignon <span> ... $34</span></h4>
                        <p>Asiago Gnocchi, Asparagus, Demi Glace<br/><b>Add Crab: $4</b></p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          16oz Cowboy Ribeye <span> ... $44</span></h4>
                        <p>Truffle Mashed Potatoes, Asparagus, Demi Glace</p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Bone-in Duroc Pork Chop <span> ... $30</span></h4>
                        <p>Pancetta Pea Mac & Cheese, Asparagus, Peach Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          Grilled Fish <span> ... $30</span></h4>
                        <p>Truffle Mashed Potatoes, Squash Succotash, Brown Butter Vinaigrette</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          Scallops <span> ... $30</span></h4>
                        <p>Pan Seared Scallops, Red Beet Risotto, Goat Cheese Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 
                          Honey Truffle Shrimp <span> ... $28</span></h4>
                        <p>Roasted Tomato Risotto, Broccolini, and White Truffle Honey Glaze</p>
                      </div>

                      <div class="menu-item">
                        <h4>Seafood Pasta <span> ... $26</span></h4>
                        <p>Alabama Gulf Shrimp, St. Georges Bank Scallops, Crab Salad, with Fettuccine and Creamy Alfredo, Topped with Fresh Basil</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese <span> ... $26</span></h4>
                        <p>Pappardelle Pasta with Ground Beef and Pork, Smoked Bacon, Fresh Basil, and Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Marsala Beer Braised Short Rib Osso Bucco <span> ... $32</span></h4>
                        <p>Truffle Ricotta Sacchetti, Caramelized Onion, Tomato, Mushroom</p>
                      </div>

                      <div class="menu-item">
                        <h4>Roasted Lamb Chop <span> ... $34</span></h4>
                        <p>Fig Jam Risotto, Green Beans, Balsamic Glaze</p>
                      </div>

                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <div class="clearfix"></div><br>
          <div class="menu-print">
            <p>* Consuming raw or uncooked meats, seafood, or shellfish may cause potential health risks </p>
            <div class="stamp"><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> <p>Represents Gluten Free Menu Items </p></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
