<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption pastas">
                  <div class="cbp-caption-defaultWrap"><h4>Pastas</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Seafood Pasta</h4>
                        <p>Lump Lobster Meat, Gulf Shrimp, Crab, Fettuccine, House Made Alfredo & Fresh Basil</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese</h4>
                        <p>Pappardelle Pasta with Ground Beef &amp; Pork, Smoked Bacon, Fresh Basil, Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Shrimp Sacchetti</h4>
                        <p>Truffle Ricotta Sacchetti, Gulf Shrimp, Spanish Chorizo, Sun Dried Tomatoes, Peas, Chardonnay Cream</p>
                      </div>

                      <div class="menu-item">
                        <h4>Braised Short Rib Ravioli</h4>
                        <p>House Made Short Rib Ravioli, Wild Mushrooms, Baby Carrots, Pecorino Romano</p>
                      </div>

                      <div class="menu-item">
                        <h4>Veal Piccata</h4>
                        <p>Pan Fried Veal, Fettuccine, Lemon, Capers, Caramelized Onion, White Wine, Herbs</p>
                      </div>

                      <div class="menu-item">
                        <h4>Spaghetti &amp; Meatballs</h4>
                        <p>House Made Pork & Beef Meatballs, Roasted Herb Tomatoes, Basil, Oven Dried Heirloom Cherry Tomato, Chili Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Basil Chicken</h4>
                        <p>Angel Hair, Grilled Chicken, Basil Pesto, Cream, Roasted Herb Tomatoes, Wild Mushrooms, Pecorino Romano</p>
                      </div>                      
                    </div>
                  </div>
                </div>


                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Mains</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">

                      <div class="menu-item">
                        <h4>Black Angus Filet</h4>
                        <p>Asiago Gnocchi and Asparagus, Veal Demi<br><b>Oscar Style:</b> $10 extra</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Crab Encrusted Grouper</h4>
                        <p>Pan Seared with Roasted Potatoes, Baby Carrots, Hollandaise</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Brown Butter Grouper</h4>
                        <p>Truffle Mash Potatoes, Corn Maqué Choux, Brown Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Pan Seared Diver Scallops</h4>
                        <p>Spinach &amp; Peach Risotto, Walnut Brown Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bone-in Duroc Pork Chop</h4>
                        <p>Baked Pancetta, Mushroom Mac &amp; Cheese, Green Beans, Peach Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Rack of Lamb</h4>
                        <p>Basil Pesto Risotto, Broccolini, Au Poivre</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Blackened Chilean Salmon</h4>
                        <p>Sun Dried Tomato &amp; Gouda Risotto, Roasted Squash &amp; Zucchini, Creole Cream</p>
                      </div>
                    </div>
                  </div>
                </div>


                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
