<% @page_title = "Dinner Menu" %>
<% @page_description = "Let the chefs at Villaggio Grille make your taste buds feel like royalty one bite at a time. Our dinner menu is full of incredible options for your whole table." %>

<div id="menupage">
  <div id="page-title" class="pt-bkg-image image-menus">
    <div class="overlay">
      <div class="title-container"><h1>Dinner Menu</h1></div>
    </div>
  </div>

  <div class="page-content food-menus">
    <section class="tabs-example">
      <div class="tabs">
        <div class="container no-padding">
          <div class="col-md-8 col-md-offset-2 col-xs-12">
            <div id="accordeon" class="col-md-12 no-padding">
              <div class="cbp-item">
                <%= render 'shared/newSnacks' %>

                <div class="cbp-caption pastas">
                  <div class="cbp-caption-defaultWrap"><h4>Pastas</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4>Seafood Pasta</h4>
                        <p>Gulf Shrimp, Crab Salad, Fresh Basil, Fettuccine, Creamy Alfredo</p>
                      </div>

                      <div class="menu-item">
                        <h4>Bolognese</h4>
                        <p>Pappardelle Pasta with Ground Beef &amp; Pork, Smoked Bacon, Fresh Basil, Tomato Cream Sauce</p>
                      </div>

                      <div class="menu-item">
                        <h4>Red Chili Shrimp</h4>
                        <p>Gulf Shrimp, Broccolini, Roasted Tomatoes, Angel Hair, White Wine Chili Butter</p>
                      </div>

                      <div class="menu-item">
                        <h4>Fried Chicken Marsala</h4>
                        <p>Ricotta Stuffed Shells, Roasted Tomato, Caramelized Onion, Capers</p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="cbp-caption entrees">
                  <div class="cbp-caption-defaultWrap"><h4>Entrees</h4></div>

                  <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-body">
                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Pan Seared Grouper</h4>
                        <p>Saffron, Spinach and Green Onion Couscous, topped with heirloom tomato and watermelon radish relish</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Honey Truffle Shrimp</h4>
                        <p>Roasted Tomato Risotto, Broccolini, White Truffle Honey Glaze</p>
                      </div>

                      <div class="menu-item">
                        <h4>Pan Seared Tuna</h4>
                        <p>Chili Marinated Vegetable Orzo Pasta, Wasabi Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> 8oz Filet Mignon</h4>
                        <p>Garlic & Gruyere Scalloped Potatoes, Asparagus, Demi Glace<br/><b>Add Crab Salad: $8</b></p>
                      </div>

                      <div class="menu-item">
                        <h4>16oz Bone-in Duroc Pork Chop</h4>
                        <p>Baked Pancetta, Mushroom Mac &amp; Cheese, Green Beans, Peach Aioli</p>
                      </div>

                      <div class="menu-item">
                        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Red Wine Braised Short Rib</h4>
                        <p>Carrot Sage Puree, Kale &amp; Toasted Almonds, Short Rib Jus</p>
                      </div>
                    </div>
                  </div>
                </div>

                <%= render "shared/menu-share" %>
              </div>
            </div>
          </div>

          <%= render "shared/disclaimer" %>
        </div>
      </div>
    </section>
  </div>
</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
