<% @page_title = "Upcoming Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-event-list">
      <div class="overlay">
          <div class="container">
              <div class="row">
                  <div class="title-container less">
                      <h1>Upcoming Events</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="page-content inline-events">
    <!-- <h3 class="text-center">Check back soon for new events!</h3> -->
    <h3 class="text-center">Select an event from the list below to visit the page and learn more.</h3><br>

    <div class="inline-event one">
      <%= link_to '/valentines', class: 'floatMid' do %>
        <%=image_tag('valentine.jpg', alt: 'Valentines Dinner', class: 'img-responsive') %>
      <% end %>
    </div>

    <div class="inline-event one">
      <%= link_to '/pairing', class: 'floatMid' do %>
        <%=image_tag('febwine.jpg', alt: 'November Wine Dinner', class: 'img-responsive') %>
      <% end %>
    </div>

    <!-- ONLY HIDING THIS BC THERE ARE 2 OTHERS  -->
     <div class="inline-event">
      <%= link_to 'https://alwharf.com/calendar', target: "_blank" do %>
        <%=image_tag('vg-wharf.jpg', alt: 'Upcoming events at The Wharf', class: 'img-responsive') %>
      <% end %>
    </div>
  </div>

</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
