<% @page_title = "Upcoming Events" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-event-list">
      <div class="overlay">
          <div class="container">
              <div class="row">
                  <div class="title-container less">
                      <h1>Upcoming Events</h1>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="page-content inline-events">
    <h3 class="text-center">Check back soon for new events!</h3>

    <!-- <div class="col-md-12 center-block stacked col-xs-12">
      <div class="service-box-2 floatMid">
        <h3>Five Course Halter Ranch Wine Dinner</h3>
        <h4>November 15th &nbsp;|&nbsp; 6:30pm<br>$100 per guest</h4>
        <div class="clearfix bmargin1"></div>
        <%= link_to 'See Details', pairing_path, class: 'event-view' %>
        <div class="clearfix"></div> <br>
      </div>
    </div> -->

    <!-- <div class="inline-event one">
      <%= link_to '/pairing', class: 'floatMid' do %>
        <%=image_tag('vg-holiday.jpg', alt: 'November Wine Dinner', class: 'img-responsive borderImg') %>
      <% end %>
    </div>

    <div class="inline-event one">
      <%= link_to '/nye', class: 'floatMid' do %>
        <%=image_tag('nye-slide2019.jpg', alt: 'November Wine Dinner', class: 'img-responsive borderImg') %>
      <% end %>
    </div> -->

    <!-- ONLY HIDING THIS BC THERE ARE 2 OTHERS  -->
     <div class="inline-event">
      <%= link_to 'https://alwharf.com/calendar', target: "_blank" do %>
        <%=image_tag('wharfvents.jpg', alt: 'Upcoming events at The Wharf', class: 'img-responsive borderImg') %>
      <% end %>
    </div>
  </div>

</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
