<% @page_title = "Events at Villaggio Grille Restaurant in Orange Beach, Al" %>
<% @page_description = "Every month, Villaggio Grille hosts a wine dinner showcasing a different vineyard. With the amazing dishes they create to accompany each wine, every dinner becomes a four-course experience that your taste buds will thank you for." %>

<div class="events-listing-page">
  <div id="page-title" class="pt-bkg-image image-event-list">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="title-container less"><h1>Upcoming Events</h1></div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content inline-events">
    <h3 class="text-center">Check back soon for new events!</h3>
    <!-- <h3 class="text-center">Select an event from the list below to visit the page and learn more.</h3><br> -->

    <div class="inline-event one border">
      <%= link_to "/pairing", class: "floatMid" do %>
        <%= image_tag('slide-novWine.jpg', alt: 'Villaggio Winter Wine Dinner', class: 'img-responsive fw') %>
      <% end %>
    </div>

    <div class="inline-event two noimg">
      <%= link_to '/events', class: 'floatMid' do %>
        <h3>April Wine Dinner</h3>
        <h4>April 21st &nbsp;|&nbsp; 6pm</h4>
        <div class="btnrow"><a href="/events" class="btn">Details & Menus</a></div>
      <% end %>
    </div>

    <div class="inline-event two noimg">
      <%= link_to '/pairing', class: 'floatMid' do %>
        <h3>May Wine Dinner</h3>
        <h4>May 3rd &nbsp;|&nbsp; 6pm</h4>
        <div class="btnrow"><a href="/pairing" class="btn">Details & Menus</a></div>
      <% end %>
    </div>

    <!-- <div class="inline-event">
      <%= link_to 'https://alwharf.com/calendar', target: "_blank" do %>
        <%=image_tag('vg-wharf.jpg', alt: 'Upcoming events at The Wharf', class: 'img-responsive') %>
      <% end %>
    </div> -->
  </div>

</div>
<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
