<% @page_title = "Villaggio Grille | Orange Beach Alabama" %>
<% @page_description = "Villaggio Grille is one of the Alabama Gulf Coast's best restaurants. Italian fusion at its tastiest, Villaggio wants to prove that they live up to their reputation. Join us for lunch or dinner, and leave satisfied." %>



    <div class="tp-banner-container fullwidthbanner">
        <div id="rev-slider" class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <%= link_to '/pairing' do %>
                        <%=image_tag('febwine.jpg', alt: 'February Wine Dinner menu link', class: 'img-responsive') %>
                    <% end %>
                </li>

                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <%=image_tag('togo.jpg', alt: 'Villaggio Grille, Orange Beach', class: 'img-responsive')%>
                </li>

                <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
                    <%= link_to 'https://alwharf.com/calendar', target: "_blank" do %>
                        <%=image_tag('vg-wharf.jpg', alt: 'Upcoming events at The Wharf', class: 'img-responsive') %>
                    <% end %>
                </li>
            </ul>
        </div>
    </div>


<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-title centered">
                    <h1>Villaggio Grille</h1>
                    <h3 class="sizing"> Italian Fusion has never tasted so good! Our <strong>talented chefs</strong> and <strong>pristine ingredients</strong> create a dining experience so <strong>enjoyable</strong> you won't want it to end!</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <%= link_to "/yelp", target: "_blank", class: 'resImg' do %>
              <%= image_tag('yelpRes.png', alt: 'Ginny Lane Diners Choice Award', class: 'img-responsive image-center') %> <span>Reservations</span>
            <% end %>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="service-boxes">
                    <div class="col-md-4 no-padding col-custom">
                        <li class="service-box-3">
                            <%= image_tag( 'v-icon8.png', alt: 'Villaggio Grille Menu Link', class: 'img-responsive v-icon') %>
                            <h4>Our Menus</h4>
                            <p>Just reading our menus will make your mouth water. Sandwiches, Pizzas, Seafood or Steaks, we know you will leave satisfied!</p>
                            <%= link_to '/daily-menu', class: 'btn btn-small yellow' do %>
                                View Menus
                            <% end %>
                        </li>
                    </div>

                    <div class="col-md-4 no-padding col-custom">
                        <li class="service-box-3">
                            <%= image_tag( 'v-icon.png', alt: 'Villaggio Grille Wine Menu Link', class: 'img-responsive v-icon') %>
                            <h4>Wine List</h4>
                            <p>We are the first to admit we take our wine seriously! The wide range of our wine menu just confirms it. Enjoy a glass by itself, or pair it with a delicious dish!</p>
                            <%= link_to '/wine-list', class: 'btn btn-small yellow' do %>
                                View Wine List
                            <% end %>
                        </li>
                    </div>

                    <div class="col-md-4 no-padding col-custom">
                        <li class="service-box-3">
                            <%= image_tag( 'v-icon6.png', alt: 'Villaggio Grille Catering Menus Link', class: 'img-responsive v-icon') %>
                            <h4>Catering</h4>
                            <p>We have everything you need to make any event a success. We offer different catering packages, a great staff, and beautiful venues.</p>
                            <%= link_to '/catering', class: 'btn btn-small yellow' do %>
                               See More
                            <% end %>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
