<% @page_title = "Villaggio Grille | Orange Beach Alabama" %>
<% @page_description = "Villaggio Grille is one of the Alabama Gulf Coast's best restaurants. Italian fusion at its tastiest, Villaggio wants to prove that they live up to their reputation. Join us for lunch or dinner, and leave satisfied." %>

<%= link_to "villaggio-thanksgiving2020.pdf", target: '_blank', class: "thanksLink", style:"display:none" do %>
  <%= image_tag('vt2020.jpg', alt: 'Villaggio Thanksgiving Family Meals', class: 'img-responsive fw') %>
  <%= image_tag('vt2020mob.jpg', alt: 'Villaggio Thanksgiving Family Meals', class: 'img-responsive mobile') %>
<% end %>


<div class="insideXl">
  <div class="holidayBanner">
    <div class="contentSec">
      <div class="textBox">
        <p class="p1">Check out our<br> Christmas Eve Family Meals ToGo</p>
        <div class="clearfix"></div>
        <a href="#christmas-togo" class="mileLink" uk-scroll>Details &amp; Menu</a>
      </div>
    </div>
  </div>
</div>

<div class="family-meals-full">
  <div class="container">
    <h1>We are open for inside &amp; outside dining,<br class="large"> as well as takeout and delivery! </h1>
    <p class="up">*togo orders subject to change upon high volume nights </p>
    <h1><a href="tel: +12512246510" class="tel">251-224-6510</a></h1>


    <div class="deliverySec">
      <div class="clearfix"></div><hr class="top"/>
      <a href="https://waitrapp.com/restaurants/al/orange-beach/villaggio-grille/16546" target="_blank" rel="noopener noreferrer" class="deliveryLogo narrow">
        <%= image_tag('takeout-waitr.png', alt: 'Waitr logo for Villaggio delivery link', class: 'img-responsive fw') %>
      </a>

      <a href="https://www.ubereats.com/mobile-al/food-delivery/villaggio-grille/5f_1ED3DSV-ZvWGWI49_cw" target="_blank" rel="noopener noreferrer" class="deliveryLogo narrow">
        <%= image_tag('takeout-uber.png', alt: 'Uber Eats logo for Villaggio delivery link', class: 'img-responsive fw') %>
      </a>

      <div class="clearfix"></div><hr/>
    </div>

    <div id="family-meals">
      <h2>Takeout Family Meals</h2>
      <h3>Your choice of meal, served with family-sized salad &amp; bread with olive oil &amp; parmesan for four.</h3>


      <div class="item"><h4>Lasagna... $26</h4></div>
      <div class="item"><h4>Shrimp Scampi... $26</h4></div>
      <div class="item"><h4>Chicken or Shrimp Alfredo... $26</h4></div>

      <div class="item">
        <h4>Shrimp Sacchetti... $36</h4>
        <p>Pasta Stuffed with Truffle infused ricotta, roasted tomatoes, peas, and chardonnay cream sauce.</p>
      </div>

      <div class="item">
        <h4>Grilled Salmon... $30</h4>
        <p>4 pieces (lunch size). Served with tomato risotto, and green beans.</p>
      </div>
    </div>
  </div>
</div>

<div class="page-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="intro-title centered">
          <h1>Villaggio Grille</h1>
          <h3 class="sizing"> Italian Fusion has never tasted so good! Our <strong>talented chefs</strong> and <strong>pristine ingredients</strong> create a dining experience so <strong>enjoyable</strong> you won't want it to end!</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <%= link_to "/yelp", target: "_blank", class: 'resImg' do %>
        <%= image_tag('yelpRes.png', alt: 'Villaggio Grille Diners Choice Award', class: 'img-responsive image-center') %> <span>Reservations</span>
      <% end %>
    </div>
  </div>

  <div id="christmas-togo" class="holidayOffer">
    <div class="insideXl">
      <div class="contentSec">
        <div class="textBox">
          <h3>Christmas Eve<br> Family Meals ToGo</h3>
          <p class="call">Call Us Today to Order a Meal!<br>
            <a href="tel: +12512246510" class="tel">251-224-6510</a>
          </p>

          <div class="info">
            <h5 class="sub">Details:</h5>
            <p>Feeds Family of Four - $80</p>
            <p>Place order <b>by December 23rd</b></p>
            <p><b>Pick up on Christmas Eve</b> between 11am &amp; 8pm at Mile Marker 158<br><span>Located Water Side at the Spring Hill Suites Wharf.</span></p>
            <a href="https://www.google.com/maps/dir//mile+marker+158+dockside/@30.2928156,-87.6675006,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x889a054c547a150d:0x6e912a4204c8f404!2m2!1d-87.6324812!2d30.2928203" target="_blank"
            class="mileLink">Get Directions</a>
          </div>

          <div class="menu">
            <h4>Menu</h4>
            <p>Prime Rib (2 lbs)</p>

            <p>House Made Mashed Potatoes<br/>
            <span>served with Gravy</span></p>

            <p>Oven Roasted Carrots</p>

            <p>House Salad<br/>
            <span>Mixed Greens, Onion, Tomato, Parmesan<br/> Choice of Ranch or Balsamic Dressing</span></p>

            <p>Dinner Rolls<br/>
            <span>Served with Whipped Butter</span></p>

            <p>Sticky Toffee Bread Pudding</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <ul class="service-boxes">
          <div class="col-md-4 no-padding col-custom">
            <li class="service-box-3">
              <%= image_tag( 'v-icon8.png', alt: 'Villaggio Grille Menu Link', class: 'img-responsive v-icon') %>
              <h4>Our Menus</h4>
              <p>Just reading our menus will make your mouth water. Sandwiches, Pizzas, Seafood or Steaks, we know you will leave satisfied!</p>
              <%= link_to '/daily-menu', class: 'btn btn-small yellow' do %>
                  View Menus
              <% end %>
            </li>
          </div>

          <div class="col-md-4 no-padding col-custom">
            <li class="service-box-3">
              <%= image_tag( 'v-icon.png', alt: 'Villaggio Grille Wine Menu Link', class: 'img-responsive v-icon') %>
              <h4>Wine List</h4>
              <p>We are the first to admit we take our wine seriously! The wide range of our wine menu just confirms it. Enjoy a glass by itself, or pair it with a delicious dish!</p>
              <%= link_to '/wine-list', class: 'btn btn-small yellow' do %>
                  View Wine List
              <% end %>
            </li>
          </div>

          <div class="col-md-4 no-padding col-custom">
            <li class="service-box-3">
              <%= image_tag( 'v-icon6.png', alt: 'Villaggio Grille Catering Menus Link', class: 'img-responsive v-icon') %>
              <h4>Catering</h4>
              <p>We have everything you need to make any event a success. We offer different catering packages, a great staff, and beautiful venues.</p>
              <%= link_to "https://wharfcateringgroup.com/", target: '_blank', class: 'btn btn-small yellow' do %>
                 See More
              <% end %>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
