<% @page_title = "Wine List" %>
<% @page_description = "Food this good deserves the company of great wine! That is why Ginny Lane's Wine List is so tempting." %>

<div id="page-title" class="pt-bkg-image image-wine">
  <div class="title-container less">
    <section class="fancy-heading center"><h1>Villaggio's Wine List</h1></section>
  </div>
</div>

<div class="page-content">
  <div class="inside">
    <div class="col-md-7 col-xs-12 wine-row-sm">
      <p class="instr">Click one of the images below to see a larger version</p>

      <%= link_to "DrinkMenu.pdf#page=2", target: '_blank', class: 'menuPageLink' do %>
        <%= image_tag('menuRedWine.png', class: 'img-responsive border', alt: "Villaggio's Red Wine List") %>
      <% end %>

      <%= link_to "DrinkMenu.pdf", target: '_blank', class: 'menuPageLink' do %>
        <%= image_tag('menuWhiteWine.png', class: 'img-responsive border', alt: "Villaggio's White Wine List") %>
      <% end %>
    </div>

    <div class="col-md-4 col-md-offset-1 col-xs-12 wine-row-sm awardrow">
      <h4 class="text-center">Villaggio Grille is the Wine Spectator Award Winner of: 2009, 2010, 2011, 2012, 2013, 2015, 2021, 2023</h4>
      <a href="https://www.winespectator.com/restaurants/1568/villaggio-grille" target="_blank" class="specImg">
      <%= image_tag( 'spectator23.jpg', alt: 'Villaggio Grille wine spectator award', class: 'img-responsive') %>
      </a>
    </div>
  </div>
</div>

<div class="col-xs-12"><div class="hr hr-png-1"></div></div>
