<li class="menu-item"><%= link_to "Home", root_path %></li>

<li class="menu-item has-child"><a class="mom" href="#">Menus</a>
  <div class="dropdown">
    <div class="dropdown-inner">
      <ul class="dropdown-items">
        <li class="menu-item"><%= link_to "Specials", happy_hour_path %></li>
        <li class="menu-item"><%= link_to "Lunch", daily_menu_path %></li>
        <li class="menu-item"><%= link_to "Dinner", dinner_menu_path %></li>
        <li class="menu-item"><%= link_to "Brunch", brunch_menu_path %></li>
        <li class="menu-item"><%= link_to "Family Meals", "/#family-meals" %></li>
        <li class="menu-item"><%= link_to "Drink Menu", drink_menu_path %></li>
        <li class="menu-item"><%= link_to "Wine Dinner", pairing_path %></li>
      </ul>
    </div>
  </div>
</li>

<!-- <li class="sig yelp"><= link_to "Reservations", yelp_path, :target => '_blank' %></li> -->

<li class="menu-item"><%= link_to "Specials", happy_hour_path %></li>
<li class="menu-item"><%= link_to "Wine List", wine_list_path %></li>
<%# <li class="menu-item"><%= link_to "Events", pairing_path ></li> %>
<li class="menu-item has-child"><a class="mom" href="#">Events</a>
  <div class="dropdown">
    <div class="dropdown-inner">
      <ul class="dropdown-items">
        <li class="menu-item"><%= link_to "Wine Dinner", pairing_path %></li>
        <li class="menu-item"><%= link_to "Christmas Day", christmas_path %></li>
        <li class="menu-item"><%= link_to "Day", nye_path %></li>
        <li class="menu-item"><%= link_to "New Year's Eve", "/#nye" %></li>
      </ul>
    </div>
  </div>
</li>

<li class="menu-item"><%= link_to "Catering", "https://wharfcateringgroup.com/", target: '_blank' %></li>

<li class="menu-item has-child"><a class="mom" href="#">More</a>
  <div class="dropdown">
    <div class="dropdown-inner">
      <ul class="dropdown-items">
        <li class="menu-item"><%= link_to "About", about_path %></li>
        <li class="menu-item"><%= link_to "Contact", contact_path %></li>
        <li class="menu-item"><a href="https://alwharf.com/calendar/" target="_blank">Events At The Wharf</a></li>
      </ul>
    </div>
  </div>
</li>
<!-- <div><a href="#" id="offcanvas-toggler"><i class="uk-icon-bars"></i></a></div> -->
