    <li class="menu-item"><%= link_to "Home", root_path %></li>

    <li class="menu-item has-child"><a class="mom" href="#">Menus</a>
        <div class="dropdown">
            <div class="dropdown-inner">
                <ul class="dropdown-items">
                    <li class="menu-item"><%= link_to "Daily Menu", daily_menu_path %></li>
                    <li class="menu-item"><%= link_to "Dinner", dinner_menu_path %></li>
                    <li class="menu-item"><%= link_to "Brunch", brunch_menu_path %></li>
                    <li class="menu-item"><%= link_to "Drink Menu", drink_menu_path %></li>
                    <li class="menu-item"><%= link_to "Happy Hour", happy_hour_path %></li>
                </ul>
            </div>
        </div>
    </li>

    <li class="menu-item"><%= link_to "Wine List", wine_list_path %></li>
    <li class="menu-item"><%= link_to "Events", events_path %></li>
    <li class="menu-item"><%= link_to "Catering", catering_path %></li>
    <!-- ADD BACK WHEN EVENTS ARE LISTED <li class="menu-item"><%= link_to "Food Truck", food_truck_path %></li> -->



    <li class="menu-item has-child"><a class="mom" href="#">More</a>
        <div class="dropdown">
            <div class="dropdown-inner">
                <ul class="dropdown-items">
                    <li class="menu-item"><%= link_to "About", about_path %></li>
                    <li class="menu-item"><%= link_to "Book a Table", opentable_path, :target => '_blank' %></li>
                    <li class="menu-item"><%= link_to "Contact", contact_path %></li>
                </ul>
            </div>
        </div>
    </li>
<!-- <div><a href="#" id="offcanvas-toggler"><i class="uk-icon-bars"></i></a></div> -->
