<!-- %= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>  -->
<!-- -rmv from dinner, but not sure about brunch?- Lamb au Poivre
Lamb Lollipop, With Silver Dollar, Cremini, & Shiitake Mushrooms, Basil Arancini Cake -->

<div class="cbp-caption snacks">
  <div class="cbp-caption-defaultWrap"><h4>Starters</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Calamari Fritti <span> ... $16</span></h4>
        <p>Lightly Fried Seasoned Calamari, Parmesan Cheese, Lemon, Citrus Sweet Chili</p>
      </div>

      <div class="menu-item no-lunch">
        <h4>Beef Carpaccio <span> ... $16</span></h4>
        <p>Thinly Sliced Rare Beef Tenderloin over Arugula with Capers, Red Onions &amp; Horseradish Cream</p>
      </div>

      <div class="menu-item">
        <h4>Chef Board <span> ... $16</span></h4>
        <p>Artisanal Meats &amp; Cheese - 3 Cheeses &amp; 2 Meats with Accompaniments</p>
      </div>

      <div class="menu-item">
        <h4>Prince Edward Island Mussels <span> ... $14</span></h4>
        <p>Spanish Chorizo, White Wine Butter Sauce, Roasted Tomatoes, Toasted Baguette Slices, Herbs, Lemon</p>
      </div>

      <div class="menu-item dinner-only">
        <h4>Baked Brie <span> ... $16</span></h4>
        <p>Spiced Walnuts, Granny Smith Apples, Black Mission Figs, Honey &amp; Assorted Crackers</p>
      </div>

      <div class="menu-item no-dinner">
        <!-- ** DINNER MENU UPDATED 1/23 with dif oyster option -->
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Oyster Duo <span> ... $22</span></h4>
        <p>2 of each: Proscuitto Rockefeller, Gouda &amp; Green Onion</p>
      </div>

      <div class="menu-item dinner-only">
        <h4>Wood Fired Oysters (8) <span> ... $20</span></h4>
        <p><b>Gorgonzola &amp; Shallot</b><br>Chili Butter with Focaccia Crumbles</p>
        <p>—— OR ——</p>
        <p><b>Prosciutto Rockefeller</b><br>Gouda &amp; Green Onion</p>
      </div>
    </div>
  </div>
</div>

<div class="cbp-caption dsalads">
  <div class="cbp-caption-defaultWrap"><h4>Salads</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <!-- ** KPKP ** 1/23 just separating dinner until ... -->

      <div class="no-dinner">
        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Classic Spinach <span> ... $8</span></h4>
          <p>Spinach, Mozzarella, Toasted Almonds, Heirloom Grape Tomato, Red Onion, Roasted Fig Vinaigrette<br>
            <b>Add:</b> Salmon &middot; Scallops (2) &middot; Grilled or Blackened Chicken
          </p>
        </div>

        <div class="menu-item">
          <h4>Chopped Caesar <span> ... $8</span></h4>
          <p>Romaine Hearts, Grape Tomatoes, Croutons, Pecorino Romano, Tossed in Caesar Dressing</p>
        </div>

        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Goat Cheese &amp; Walnut <span> ... $14</span></h4>
          <p>Spring Mix, Dried Cherries, Spiced Walnuts, Goat Cheese, Roasted Fig Vinaigrette</p>
        </div>

        <div class="menu-item no-lunch">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Scallop &amp; Arugula <span> ... $16</span></h4>
          <p>Butter Lettuce, Arugula, Seared Diver Scallops, Goat Cheese, Toasted Pumpkin Seed, Strawberries, Blueberries, Candied Bacon, Shallot Sherry Vinaigrette</p>
        </div>

        <div class="menu-item no-lunch">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Burrata &amp; Beet <span> ... $14</span></h4>
          <p>Roasted Golden &amp; Red Beets, Sliced Burrata, Basil Pesto Oil, Heirloom Tomato </p>
        </div>

        <div class="menu-item lunch-only">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Blackened Salmon Salad <span> ... $16</span></h4>
          <p>Salmon, Butter Lettuce, Arugula, Red Onion, Toasted Pumpkin Seeds, Dried Figs, Grape Tomatoes, Goat Cheese, tossed in Champagne Vinaigrette</p>
        </div>
      </div>

      <div class="dinner-only">
        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Villaggio House Salad <span> ... $9</span></h4>
          <p>Dried Cherries, Spiced Walnuts, Goat Cheese, Roasted Fig Vinaigrette</p>
        </div>

        <div class="menu-item">
          <h4>Grilled Caesar <span> ... $12</span></h4>
          <p>Chargrilled Romaine, Cherry Heirloom Tomatoes, Bleu Cheese Crumbles, Bacon, Focaccia Croutons, Caesar Dressing</p>
        </div>

        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Spinach &amp; Chicken <span> ... $14</span></h4>
          <p>Spinach, Cherry Heirloom Tomatoes, Red Onion, Feta, Bacon Vinaigrette, Focaccia Croutons</p>
        </div>

        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Caprese  <span> ... $14</span></h4>
          <p>Yellow Beefsteak Tomatoes, Fresh Mozzarella, Basil Pesto, Olive Oil &amp; Fresh Basil</p>
        </div>

        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Blackened Salmon Salad <span> ... $16</span></h4>
          <p>Salmon, Butter Lettuce, Arugula, Red Onion, Toasted Pumpkin Seeds, Dried Figs, Grape Tomatoes, Goat Cheese, tossed in Champagne Vinaigrette</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cbp-caption pizza">
  <div class="cbp-caption-defaultWrap"><h4>Wood Fired Pizzas</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Villaggio <span> ... $16</span></h4>
        <p>Sausage, Pepperoni, Bell Peppers, Mushrooms, Kalamata Olives, &amp; Marinara</p>
      </div>

      <div class="menu-item">
        <h4>Chicken Pesto <span> ... $16</span></h4>
        <p>Basil Pesto, Chicken, Tomatoes, Silver Dollar Mushrooms, Mozzarella</p>
      </div>

      <div class="menu-item">
        <h4>Margherita <span>... $16</span></h4>
        <p>Roasted Garlic, Fresh Mozzarella, Tomatoes, Marinara, Topped with Fresh Basil</p>
      </div>

      <div class="menu-item">
        <h4>White Pizza <span>... $14</span></h4>
        <p>Gouda Alfredo, Fresh Mozzarella, Spinach, Red Onion, Sun Dried Tomatoes, Oregano</p>
      </div>


      <div class="menu-item no-lunch">
        <h4>Shrimp &amp; Scallop <span>... $16</span></h4>
        <p>Rockefeller Cream Sauce, Spanish Chorizo, Bell Peppers, Blackening Seasoning</p>
      </div>
    </div>
  </div>
</div>
