<div class="cbp-caption snacks">
  <div class="cbp-caption-defaultWrap"><h4>Starters</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>West Indies Salad <span> ... $14</span></h4>
        <p>Crab, Cucumber, and Onion Marinated in Champagne Vinaigrette over Arugula and Assorted Crackers</p>
      </div>

      <div class="menu-item">
        <h4>Meat &amp; Cheese Board <span> ... $16</span></h4>
        <p>Bresola, Coppa, Prosciutto, Gorgonzola, Honey Brie, Fig Spread, Spiced Walnuts and Assorted Crackers</p>
      </div>

      <div class="menu-item">
        <h4>Stuffed Shells <span> ... $12</span></h4>
        <p>Stuffed with Herbed Ricotta Cheese and Served with Bolognese Sauce</p>
      </div>

      <div class="menu-item">
        <h4>Calamari Fritti <span> ... $12</span></h4>
        <p>Lightly Fried Seasoned Calamari, Parmesan Cheese, Lemon, Citrus Sweet Chili </p>
      </div>

      <div class="menu-item">
        <h4>Beef Carpaccio <span> ... $14</span></h4>
        <p>Thinly Sliced Rare Beef Tenderloin over Arugula, Capers, and Red Onions with Horseradish Cream Sauce </p>
      </div>

      <div class="menu-item ">
        <h4>Prosciutto &amp; Saffron Arancini <span> ... $14</span></h4>
        <p>Saffron Risotto, Prosciutto, Green Onions, Roasted Tomatoes, Parmesan, Mozzarella, Piccanti Marinara</p>
      </div>
    </div>
  </div>
</div>

<div class="cbp-caption oysters">
  <div class="cbp-caption-defaultWrap"><h4>Wood Fired Oysters</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Prosciutto Rockefeller (8) <span> ... $16</span></h4>
        <p>Prosciutto and Spinach Cream, with Parmesan</p>
      </div>

      <div class="menu-item">
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Manchego &amp; Jalapeño(8) <span> ... $16</span></h4>
        <p>Manchego Cheese and Jalapeño</p>
      </div>

      <div class="menu-item">
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Gorgonzola &amp; Shallot (8) <span> ... $16</span></h4>
        <p>Creamy Gorgonzola and Shallot Cheese Sauce</p>
      </div>

      <div class="menu-item">
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Oyster Trio <span> ... $18</span></h4>
        <p>Three of each Oyster</p>
      </div>
    </div>
  </div>
</div>

<div class="cbp-caption dsalads">
  <div class="cbp-caption-defaultWrap"><h4>Salads</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item"><p class="text-center">Add Chicken - $5 &nbsp; | &nbsp; Add Scallop - $6 &nbsp; | &nbsp; Add Shrimp - $8</p></div>

      <div class="menu-item"><h4 class="cat">Side Salads</h4></div>
      <div class="menu-item">
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Villaggio House Salad 
          <span class="dinner-price"> ... $8</span><span class="lunch-price"> ... $6</span></h4>
        <p>Spring Mix, Grape Tomatoes, Sliced Onion, &amp; Parmesan with Roasted Fig Vinaigrette</p>
      </div>

      <div class="menu-item">
        <h4>Chopped Caesar <span class="dinner-price"> ... $8</span><span class="lunch-price"> ... $6</span></h4>
        <p>Romaine Hearts, Grape Tomatoes, Croutons, &amp; Parmesan, tossed in Caesar Dressing</p>
      </div>

      <div class="menu-item">
        <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Goat Cheese &amp; Walnut <span> ... $10</span></h4>
        <p>Spring Mix, Dried Cherries, Spiced Walnuts, Goat Cheese served with Roasted Fig Vinaigrette</p>
      </div>

      <div class="menu-item">
        <h4>Caprese <span> ... $10 </span></h4>
        <p>Fresh Mozzarella, Tomatoes, Basil, Olive Oil, &amp; Balsamic Reduction</p>
      </div>

      <div class="menu-item"><h4 class="cat">Entrée Salads</h4></div>

      <div class="dinner-only">
        <div class="menu-item">
          <h4>Buttered Salmon Salad <span> ... $14</span></h4>
          <p>Blackened Salmon, Butter Lettuce, Arugula, Red Onion, Toasted Pumpkin Seeds, Dried Figs, Grape Tomato and Goat Cheese. Tossed in Champagne Vinaigrette </p>
        </div>
      </div>

      <div class="lunch-only">
        <div class="menu-item">
          <h4>Spinach &amp; Grilled Chicken <span> ... $12 </span></h4>
          <p>Baby Spinach, Red Onion, Tomatoes, Feta Cheese, &amp; House Made Croutons, tossed in Warm Bacon Vinaigrette</p>
        </div>  

        <div class="menu-item">
          <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %> Scallop &amp; Arugula <span> ... $16</span></h4>
          <p>St. George's Bank Scallops over Arugula, Granny Smith Apples, Bacon, Orange Segments, &amp; Parmesan. Balsamic Citrus Vinaigrette</p>
        </div>

        <div class="menu-item">
          <h4>Blackened Salmon Salad <span> ... $14</span></h4>
          <p>Salmon, Butter Lettuce, Arugula, Red Onion, Toasted Pumpkin Seeds, Dried Figs, Grape Tomato and Goat Cheese. Tossed in Chamapgne Viniagrette</p>
        </div>
      </div>
        
      <div class="menu-item">
        <h4>Roasted Veggie Salad <span> ... $10</span></h4>
        <p>Tri Colored Peppers, Squash , Zucchini, Butternut Squash, Red Onion, Quartered Tomato, Feta Cheese with Citrus Vinaigrette </p>
      </div>
      
      <div class="menu-item">
        <h4>Super Salad <span class="dinner-price"> ... $16</span><span class="lunch-price"> ... $14</span></h4>
        <p>Sesame Crusted Tuna, Spring Mix, Granny Smith Apples, Hard Boiled Egg, Quinoa, Candied Walnuts with Balsamic Vinaigrette </p>
      </div>        

    </div>
  </div>
</div>


<div class="cbp-caption pizza">
  <div class="cbp-caption-defaultWrap"><h4>Wood Fired Pizzas</h4></div>

  <div class="cbp-caption-activeWrap">
    <div class="cbp-l-caption-body">
      <div class="menu-item">
        <h4>Margherita <span>... $14</span></h4>
        <p>Marinara, Fresh Mozzarella, Roasted Garlic, and Tomatoes with Fresh Basil</p>
      </div>

      <div class="menu-item">
        <h4>Villaggio <span> ... $16</span></h4>
        <p>Fenneled Sausage, Pepperoni, Bell Peppers, Mushrooms, Marinara, and Kalamata Olives</p>
      </div>

      <div class="menu-item">
        <h4>Chicken Pesto <span> ... $16</span></h4>
        <p>Grilled Chicken, Basil Pesto, Sundried Tomatoes, and Mushrooms </p>
      </div>

      <div class="menu-item">
        <h4>BBQ Chicken <span> ... $14</span></h4>
        <p>BBQ Sauce, Mozzarella, Grilled Chicken, Cream Cheese, Red Onions, and Jalapeños</p>
      </div>

      <div class="menu-item">
        <h4>Shrimp &amp; Crawfish <span> ... $16</span></h4>
        <p>Shrimp, Crawfish, Bell Peppers, Prosciutto and Spinach Cream Sauce</p>
      </div>

      <div class="menu-item">
        <h4>Mushroom Bianca <span> ... $14</span></h4>
        <p>Garlic Infused Truffle Oil, Mixed Mushrooms, Herbed Ricotta, Arugula, Balsamic Drizzle</p>
      </div>
    </div>
  </div>
</div>
