<div class="cbp-caption snacks">
    <div class="cbp-caption-defaultWrap">
        <h4>Snacks</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">

            <div class="menu-item">
                <h4>Calamari Fritti <span> ...$12</span></h4>
                <p>Lightly Fried Seasoned Calamari, Parmesan Cheese, Lemon, Citrus Sweet Chili </p>
            </div>

            <div class="menu-item">
                <h4>Crab Bruschetta <span> ...$14</span></h4>
                <p>Grilled Pesto Crostini, Crab Salad, Prosciutto, Roasted Tomatoes, Parmesan Cheese, Basil </p>
            </div>

            <div class="menu-item">
                <h4>Shrimp & Crawfish Arancini <span> ...$12</span></h4>
                <p>Gulf Shrimp & Crawfish Risotto, Tomatoes, Breaded & Fried, Roasted Red Pepper Marinara </p>
            </div>

            <div class="menu-item">
                <h4>Beef Carpaccio <span> ...$14</span></h4>
                <p>Thinly Sliced Rare Beef Tenderloin, Arugula, Capers, Red Onions, Horseradish Cream </p>
            </div>

            <div class="menu-item">
                <h4>Fruit & Cheese <span> ...$16</span></h4>
                <p>Artisanal Cheeses, Fresh Seasonal Fruits, Spiced Walnuts, Fig Spread, Assorted Crackers </p>
            </div>

            <div class="menu-item">
                <h4>Mussels <span> ...$12</span></h4>
                <p>Prince Edward Island Mussels Steamed in White Wine, Shallot, Garlic Butter Sauce, Chorizo, Lemon </p>
            </div>

            <div class="menu-item">
                <h4>Smoked Salmon Terrine <span> ...$14</span></h4>
                <p>Smoked Salmon Layered with Lemon Pepper Cream Cheese, Capers, Red Onion, Mustard Dill Dressing </p>
            </div>

            <div class="menu-item">
                <h4>Devils on Horseback <span> ...$14</span></h4>
                <p>Bacon Wrapped Gulf Oysters, Breaded & Fried, Tabasco Cream </p>
            </div>

            <div class="menu-item">
                <p>*consuming raw or uncooked meats, seafood, or shellfish may cause potential health risks </p>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption oysters">
    <div class="cbp-caption-defaultWrap">
        <h4>Louisiana Wood Fired Oysters</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <!-- <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %></h4>
            </div> -->

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Prosciutto Rockefeller <span> ... $16</span></h4>
                <p>Prosciutto, Spinach, Cream &amp; Parmesan Cheese</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Garlic Butter <span> ... $16</span></h4>
                <p>Citrus-Garlic Butter &amp; Parmesan Cheese</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Gorgonzola and Shallot <span> ... $16</span></h4>
                <p>Creamy Gorgonzola and Shallot Cheese Sauce</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Oyster Trio <span> ... $18</span></h4>
                <p>Three of each Oyster</p>
            </div>

        </div>
    </div>
</div>

<div class="cbp-caption dsalads dinner-only">
    <div class="cbp-caption-defaultWrap">
        <h4>Salads</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <!-- <p class="text-center">Creamy Ranch, Roasted Fig Vinaigrette, Bleu Cheese Vinaigrette, Citrus Vinaigrette or Balsamic Vinaigrette</p> -->
                <p class="text-center">Add Chicken - $5 &nbsp; | &nbsp;
                Add Scallop - $6 &nbsp; | &nbsp;
                Add Shrimp - $8</p>
            </div>

            <div class="menu-item">
                <h4>Chopped Caesar <span> ... $6</span></h4>
                <p>Romaine Hearts, Grapes Tomatoes, Croutons, Parmesan Cheese, Caesar Dressing</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Villaggio <span> ... $6 </span></h4>
                <p>Spring Mix, Grape Tomatoes, Red Onion, Parmesan Cheese Roasted Fig Vinaigrette</p>
            </div>

            <div class="menu-item">
                <h4>Grilled Caesar <span> ... $8</span></h4>
                <p>Charred Half Romaine Heart, Grape Tomatoes, Bacon Bits, Blue Cheese, Croutons, Caesar Dressing</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Caprese <span> ... $8 </span></h4>
                <p>Fresh Mozzarella, Tomatoes, Basil, Balsamic Reduction, Olive Oil </p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Goat Cheese & Walnut <span> ... $7 </span></h4>
                <p>Spring Mix, Dried Cherries, Spiced Walnuts, Goat Cheese Roasted Fig Vinaigrette </p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Scallops & Arugula <span> ... $14 </span></h4>
                <p>St. Georges Bank Scallops, Arugula, Granny Smith Apples, Bacon, Orange Segments, Parmesan Cheese, Balsamic Citrus Vinaigrette</p>
            </div>

            <div class="menu-item">
                <p>*consuming raw or uncooked meats, seafood, or shellfish may cause potential health risks </p>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption dsalads lunch-only">
    <div class="cbp-caption-defaultWrap">
        <h4>Salads</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <p class="text-center">Add Chicken - $5 &nbsp; | &nbsp;
                Add Scallop - $6 &nbsp; | &nbsp;
                Add Shrimp - $8</p>
            </div>

            <div class="menu-item">
                <h4>Chopped Caesar <span> ... $7</span></h4>
                <p>Romaine Hearts, Grapes Tomatoes, Croutons, Parmesan Cheese, Caesar Dressing</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Villaggio <span> ... $7 </span></h4>
                <p>Spring Mix, Grape Tomatoes, Red Onion, Parmesan Cheese Roasted Fig Vinaigrette</p>
            </div>

            <div class="menu-item">
                <h4>Spinach &amp; Grilled Chicken Salad <span> ... $12</span></h4>
                <p>Baby Spinach, Red Onion, Tomatoes, Feta Cheese, House Made Croutons, Warm Bacon Vinaigrette</p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Caprese <span> ... $8 </span></h4>
                <p>Fresh Mozzarella, Tomatoes, Basil, Balsamic Reduction, Olive Oil </p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Goat Cheese & Walnut <span> ... $7 </span></h4>
                <p>Spring Mix, Dried Cherries, Spiced Walnuts, Goat Cheese Roasted Fig Vinaigrette </p>
            </div>

            <div class="menu-item">
                <h4><%= image_tag( 'gluten.jpg', alt: 'Villaggio Grille Gluten Free Options', class: 'img-responsive') %>
                Scallops & Arugula <span> ... $14 </span></h4>
                <p>St. Georges Bank Scallops, Arugula, Granny Smith Apples, Bacon, Orange Segments, Parmesan Cheese, Balsamic Citrus Vinaigrette</p>
            </div>

            <div class="menu-item">
                <p>*consuming raw or uncooked meats, seafood, or shellfish may cause potential health risks </p>
            </div>
        </div>
    </div>
</div>

<div class="cbp-caption pizza">
    <div class="cbp-caption-defaultWrap">
        <h4>Wood Fired Pizzas</h4>
    </div>

    <div class="cbp-caption-activeWrap">
        <div class="cbp-l-caption-body">
            <div class="menu-item">
                <h4>Margherita <span> ...$12</span></h4>
                <p>Marinara, Roasted Garlic,Tomatoes, Fresh Basil </p>
            </div>

            <div class="menu-item">
                <h4>Red Pepper Pesto <span> ...$12</span></h4>
                <p>Red Pepper Pesto, Artichoke, Sun Dried Tomatoes, Spinach, Provolone, Mozzarella </p>
            </div>

            <div class="menu-item">
                <h4>Greek <span> ...$12</span></h4>
                <p>Prosciutto, Asparagus, Kalamata Olives, Red Onions, Roasted Garlic </p>
            </div>

            <div class="menu-item">
                <h4>Villaggio <span> ...$14</span></h4>
                <p>Sausage, Pepperoni, Bell Peppers, Mushroom, Kalamata Olives </p>
            </div>

            <div class="menu-item">
                <h4>Pear and Goat Cheese <span> ...$12</span></h4>
                <p>Pear, Goat Cheese, Arugula, Walnuts, Olive Oil </p>
            </div>

            <div class="menu-item">
                <h4>Chicken Pesto <span> ...$14</span></h4>
                <p>Grilled Chicken, Basil Pesto, Sundried Tomatoes, Mushrooms </p>
            </div>

            <div class="menu-item">
                <h4>BBQ Chicken <span> ...$14</span></h4>
                <p>Grilled Chicken, BBQ Sauce, Red Onion, Jalapeno, Cheddar, Cream Cheese </p>
            </div>

            <div class="menu-item">
                <h4>Shrimp & Crawfish <span> ...$14</span></h4>
                <p>Shrimp, Crawfish, Spinach, Bell Peppers, Prosciutto Cream </p>
            </div>

        </div>
    </div>
</div>
