<div class="vil-gil">
    <div class="container">
        <div class="col-md-12">
            <h3>Check out our other AMAZING restaurants!</h3>
        </div>
        <div class="partner-logo">
            <%= link_to(image_tag('gl-logo.jpg', alt: 'Ginny Lane, Orange Beach, Logo', class: 'img-responsive'), ginny_path, :target => '_blank') %>
        </div>

        <div class="partner-logo two">
            <%= link_to(image_tag('yoho.png', alt: 'Yoho Rum and Tacos, Orange Beach, Logo', class: 'img-responsive'), yoho_path, :target => '_blank') %>
        </div>

        <div class="partner-logo">
            <%= link_to(image_tag('marker158.png', alt:'Mile Marker 158 Dockside Logo', class: 'img-responsive'), mm_path, :target => '_blank') %>
        </div>
    </div>
</div>

<div id="footer-wrapper" class="tabs-example">
    <div class="container no-padding-xs">
        <div class="col-md-10 col-md-offset-1 col-xs-12 no-padding-xs">
            <div class="tabs">
                <div class="col-md-4 mtab">
                    <div id="ft" class="col-md-12 no-padding">
                        <div class="cbp-item">
                            <div class="cbp-caption first">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Contact Information</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <ul class="contact-info-list">
                                            <li>
                                                <i class="fa fa-phone"></i>
                                              <a href="tel:+12512246500" class="tel">251-224-6500 (ext. 2)</a>
                                            </li>

                                            <li>
                                                <i class="fa fa-envelope-o"></i>
                                                <a href="mailto:villaggiogrilleob@gmail.com">VillaggioGrilleOB@gmail.com</a>
                                            </li>

                                            <li>
                                                <i class="fa fa-home"></i>
                                                4790 Main Street Suite F 108-B<br> Orange Beach, Al 36561
                                            </li>

                                            <%= link_to '/directions', target: '_blank', class: 'btn btn-small yellow' do %>
                                                Get Directions
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption second">
                                <div class="cbp-caption-defaultWrap">
                                    <h4>Hours of Operation</h4>
                                </div>

                                <div class="cbp-caption-activeWrap">
                                    <div class="cbp-l-caption-body">
                                        <div class="hours">
                                            <h6>Sunday - Thursday: 11am - 9pm</h6>
                                            <h6>Friday - Saturday: 11am - 10pm</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="cbp-caption cbp-link">
                                <%= link_to '/yelp', target: '_blank' do %><h4>Reservations</h4><% end %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mfb">
                    <div class="fb-page" data-href="https://www.facebook.com/Villaggio-Grille-at-the-Wharf-268094240121/?fref=ts" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-height="120" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Villaggio-Grille-at-the-Wharf-268094240121/?fref=ts" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Villaggio-Grille-at-the-Wharf-268094240121/?fref=ts">Villaggio Grille at the Wharf</a></blockquote></div>
                </div>

                 <div class="col-md-4 mmc">
                    <div class="signup">
                        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                        <div id="mc_embed_signup">
                            <form action="https://ginnylanebargrill.us10.list-manage.com/subscribe/post?u=fe0c421eb8ae1acbc885e39d3&amp;id=303b0e0335" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                    <label for="mce-EMAIL">Join Our Mailing List</label>
                                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email Address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe0c421eb8ae1acbc885e39d3_303b0e0335" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="scroll-up">Scroll</a>
</div>

<div id="copyright-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <p>&copy; <%= Date.today.year %> All rights reserved. Web Design by <%= link_to 'http://hsdesignhouse.com', target: '_blank' do %>High Seas Design House.<% end %></p>
            </div>
            <div class="col-md-6 col-xs-12">
                <ul class="breadcrumb footer-breadcrumb">
                    <li><%= link_to 'Home', root_path %></li>
                    <li><%= link_to 'About', about_path %></li>
                    <li><%= link_to 'Contact', contact_path %></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Off Canvas Menu -->
<div class="offcanvas-menu">
    <a class="close-offcanvas" href="#"><i class="fa fa-close"></i></a>
    <div class="offcanvas-inner">
        <div class="module">
            <h3 class="module-title">Main Menu</h3>
            <div class="module-content">
                <ul class="nav menu">
                    <li><%= link_to "Home", root_path %></li>

                    <li class="deeper parent"><a href="#"><span class="toggle-icon">Menus <span class="XXXtoggle-icon fa fa-angle-down"></span></a>
                        <ul style="display: none;" class="nav-child unstyled small">
                            <li><%= link_to "Daily Menu", daily_menu_path %></li>
                            <li><%= link_to "Dinner", dinner_menu_path %></li>
                            <li><%= link_to "Brunch", brunch_menu_path %></li>
                            <li><%= link_to "Family Meals", "/#family-meals" %></li>
                            <li><%= link_to "Drink Menu", drink_menu_path %></li>
                            <li><%= link_to "Happy Hour", happy_hour_path %></li>
                        </ul>
                    </li>

                    <li class="sig"><%= link_to "Reservations", yelp_path, :target => '_blank' %></li>
                    <li><%= link_to "Events", pairing_path %></li>

                    <li><%= link_to "Wine List", wine_list_path %></li>
                    <li><%= link_to "Catering", "https://wharfcateringgroup.com/", target: '_blank' %></li>
                    <li><%= link_to "About", about_path %></li>
                    <li><%= link_to "Contact", contact_path %></li>
                    <li><%= link_to "Get Directions", directions_path, :target => '_blank' %></li>
                    <li><a href="https://alwharf.com/calendar/" target="_blank">Events At The Wharf</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
